<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.co.algomoko.admin.mapper.AdminMapper">
        <resultMap id="members" type="com.co.algomoko.admin.domain.AdminVO">
            <result property="uid" column="mid"/>
            <result property="upw" column="mpw"/>
            <result property="B0" column="B0"/>
            <result property="nick" column="NICK"/>
        </resultMap>
    <!-- 관리자 유저 목록 조희 -->
    <select id="makeList" resultMap="members" resultType="com.co.algomoko.admin.domain.AdminVO">
        SELECT MID, SEX, NICK, GET_CODE(B0) AS B0
        FROM MEMBERS
    </select>
    <select id="findUserList" resultMap="members" resultType="com.co.algomoko.admin.domain.AdminVO">
        SELECT MID, SEX, NICK,GET_CODE(B0) AS B0
        FROM MEMBERS
        WHERE
        <choose>
            <when test="type != null and type.equals('email')">
                MID LIKE '%' || #{keyword} || '%'
            </when>
            <when test="type != null and type.equals('nick')">
                NICK LIKE '%' || #{keyword} || '%'
            </when>
        </choose>
    </select>

    <select id="findDetailUser" resultMap="members" resultType="com.co.algomoko.admin.domain.AdminVO">
        SELECT MID, NICK, BIRTH, HEIGHT, WEIGHT, TWEIGHT, TCAL, B0
        FROM MEMBERS
        WHERE MID = #{uid}
    </select>

    <insert id="insertRestrict" >
        UPDATE MEMBERS
            SET B0 = GET_NAME(#{type})
            WHERE MID = #{uid}
    </insert>

    <select id="findBlackList" resultMap="members" resultType="com.co.algomoko.admin.domain.AdminVO">
        SELECT MID, SEX, NICK,GET_CODE(B0) AS B0
        FROM MEMBERS
        WHERE B0 = 'b3'
    </select>

    <select id="findRestrictList" resultMap="members" resultType="com.co.algomoko.admin.domain.AdminVO">
        SELECT MID, SEX, NICK,GET_CODE(B0) AS B0
        FROM MEMBERS
        WHERE B0 = 'b1' or B0 = 'b2'
    </select>
    <select id="genderRate" resultType="com.co.algomoko.admin.domain.StatisticVO">
        SELECT COUNT(MID) as totalRate,
               COUNT(CASE WHEN sex='female' THEN MID ELSE NULL END) femaleRate,
               COUNT(CASE WHEN sex='male' THEN MID ELSE NULL END) as maleRate
        FROM MEMBERS
    </select>
    <select id="RestrictedRate" resultType="com.co.algomoko.admin.domain.StatisticVO">
        SELECT COUNT(CASE WHEN B0='b0' THEN MID ELSE NULL END) AS b0,
               COUNT(CASE WHEN B0='b1' THEN MID ELSE NULL END) AS b1,
               COUNT(CASE WHEN B0='b2' THEN MID ELSE NULL END) AS b2,
               COUNT(CASE WHEN B0='b3' THEN MID ELSE NULL END) AS b3
        FROM MEMBERS
    </select>
    <select id="heightRate" resultType="com.co.algomoko.admin.domain.StatisticVO">

        SELECT COUNT(CASE WHEN HEIGHT BETWEEN 120 AND 129.9 THEN MID ELSE NULL END) AS range12,
               COUNT(CASE WHEN HEIGHT BETWEEN 130 AND 139.9 THEN MID ELSE NULL END) AS range13,
               COUNT(CASE WHEN HEIGHT BETWEEN 140 AND 149.9 THEN MID ELSE NULL END) AS range14,
               COUNT(CASE WHEN HEIGHT BETWEEN 150 AND 159.9 THEN MID ELSE NULL END) AS range15,
               COUNT(CASE WHEN HEIGHT BETWEEN 160 AND 169.9 THEN MID ELSE NULL END) AS range16,
               COUNT(CASE WHEN HEIGHT BETWEEN 170 AND 179.9 THEN MID ELSE NULL END) AS range17,
               COUNT(CASE WHEN HEIGHT BETWEEN 180 AND 189.9 THEN MID ELSE NULL END) AS range18,
               COUNT(CASE WHEN HEIGHT BETWEEN 190 AND 199.9 THEN MID ELSE NULL END) AS range19,
               COUNT(CASE WHEN HEIGHT BETWEEN 200 AND 209.9 THEN MID ELSE NULL END) AS range20,
               COUNT(CASE WHEN HEIGHT BETWEEN 210 AND 219.9 THEN MID ELSE NULL END) AS range21
        FROM MEMBERS
    </select>
    <select id="ageRate" resultType="com.co.algomoko.admin.domain.StatisticVO">
        SELECT COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 10 AND 19 THEN MID ELSE NULL END) AS age10,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 20 AND 29 THEN MID ELSE NULL END) AS age20,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 30 AND 39 THEN MID ELSE NULL END) AS age30,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 40 AND 49 THEN MID ELSE NULL END) AS age40,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 50 AND 59 THEN MID ELSE NULL END) AS age50,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 60 AND 69 THEN MID ELSE NULL END) AS age60,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 70 AND 79 THEN MID ELSE NULL END) AS age70,
               COUNT(CASE WHEN TRUNC(((SYSDATE-BIRTH)/365),0) BETWEEN 80 AND 89 THEN MID ELSE NULL END) AS age80
        FROM MEMBERS
    </select>
    <select id="bmiRate" resultType="com.co.algomoko.admin.domain.StatisticVO">
        SELECT COUNT(CASE WHEN BMI BETWEEN 5 AND 10 THEN MID ELSE NULL END) AS bmi1,
               COUNT(CASE WHEN BMI BETWEEN 10 AND 15 THEN MID ELSE NULL END) AS bmi2,
               COUNT(CASE WHEN BMI BETWEEN 15 AND 20 THEN MID ELSE NULL END) AS bmi3,
               COUNT(CASE WHEN BMI BETWEEN 20 AND 25 THEN MID ELSE NULL END) AS bmi4,
               COUNT(CASE WHEN BMI BETWEEN 25 AND 30 THEN MID ELSE NULL END) AS bmi5,
               COUNT(CASE WHEN BMI BETWEEN 30 AND 35 THEN MID ELSE NULL END) AS bmi6,
               COUNT(CASE WHEN BMI BETWEEN 35 AND 40 THEN MID ELSE NULL END) AS bmi7
        FROM MEMBERS
    </select>
</mapper>