<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.co.algomoko.challenge.mapper.ChallengeMapper">
	<!-- 챌린지 조회 -->
	<select id="getPage" resultType="com.co.algomoko.challenge.domain.ChallengeVO">
	select *
	from challenge
	where cno = #{cno}
	</select>	
	<!-- 챌린지 목록 -->
	<select id="cList" resultType="com.co.algomoko.challenge.domain.ChallengeVO">
	<![CDATA[select *
		 	 from (select * from challenge
		 		   where ctitle like '%' || #{ctitle,jdbcType=VARCHAR} || '%'
		 		   order by cno)
			 where rownum <=6]]>
	</select>
	<!-- 챌린지 작성 -->
	<insert id="cInsert" parameterType="com.co.algomoko.challenge.domain.ChallengeVO">
	insert into challenge (cno, ctitle, ccon, cdday, filepath, filename)
	values(CNO.nextval, #{ctitle}, #{ccon}, #{cdday}, #{filepath}, #{filename})
	</insert>
	<!-- 챌린지 수정 -->
	<update id="cUpdate" parameterType="com.co.algomoko.challenge.domain.ChallengeVO">
	update challenge
	set ctitle = #{ctitle}, ccon = #{ccon}, cdday = #{cdday}, filepath = #{filepath}, filename = #{filename}
	where cno = #{cno}
	</update>
	<!-- 챌린지 삭제 -->
	<delete id="cDelete" parameterType="int">
	delete
	from challenge
	where cno = #{cno}
	</delete>
	<!-- 진행중인 챌린지 추가 -->
	<insert id="mcInsert" parameterType="int">
	insert into my_challenge 
	values(mycno.nextval, #{cno}, '진휘용', 0, to_char(sysdate, 'MMDD'), to_char(sysdate+30, 'MMDD'))
	</insert>
</mapper>