<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.co.algomoko.challenge.mapper.ChallengeMapper">
	<!-- 챌린지 조회 -->
	<select id="getPage"
		resultType="com.co.algomoko.challenge.domain.ChallengeVO">
		select *
		from challenge
		where cno = #{cno}
		order by ctitle
	</select>
	<!-- 챌린지 목록 -->
	<select id="cList"
		resultType="com.co.algomoko.challenge.domain.ChallengeVO">
	<![CDATA[select *
		 	 from (select * from challenge
		 		   where ctitle like '%' || #{ctitle,jdbcType=VARCHAR} || '%'
		 		   order by ctitle)
			 where rownum <=6]]>
	</select>
	<!-- 챌린지 작성 -->
	<insert id="cInsert"
		parameterType="com.co.algomoko.challenge.domain.ChallengeVO">
		insert into challenge (cno, ctitle, ccon, cdday, filepath, filename)
		values(CNO.nextval, #{ctitle}, #{ccon}, #{cdday}, #{filepath},
		#{filename})
	</insert>
	<!-- 챌린지 수정 -->
	<update id="cUpdate"
		parameterType="com.co.algomoko.challenge.domain.ChallengeVO">
		update challenge
		set ctitle = #{ctitle}, ccon = #{ccon}, cdday = #{cdday}, filepath =
		#{filepath}, filename = #{filename}
		where cno = #{cno}
	</update>
	<!-- 챌린지 삭제 -->
	<delete id="cDelete" parameterType="int">
		delete
		from challenge
		where cno = #{cno}
	</delete>
	<!-- 진행중인 챌린지 삭제 -->
	<delete id="deleting" parameterType="int">
		delete
		from my_challenge
		where cno2 = #{cno2}
	</delete>
	<!-- 진행중인 챌린지 추가 -->
	<insert id="mcInsert" parameterType="int">
		insert into my_challenge (mycno, cno2, mid, sdate, edate )
		values(mycno.nextval, #{cno}, #{mid}, to_date(sysdate),	to_date(sysdate)+#{cdday})
	</insert>
	<!--진행중인 챌린지 목록 -->
	<select id="mcList"
		resultType="com.co.algomoko.challenge.domain.MyChallengeVO">
	<![CDATA[select *
	from challenge a, my_challenge b
	where a.cno = b.cno2 and b.cper<100]]>
	</select>
	<!-- 완료한 챌린지 목록 -->
	<select id="eList"
		resultType="com.co.algomoko.challenge.domain.MyChallengeVO">
	<![CDATA[select *
	from challenge a, my_challenge b
	where a.cno = b.cno2 and b.cper=100 ]]>
	</select>
	<!-- 진행중인 챌린지 상세 -->
	<select id="dList"
		resultType="com.co.algomoko.challenge.domain.ChallengeValidationVO">
		select *
		from challenge a
		join my_challenge b
		on a.cno = b.cno2
		left outer join challenge_validation c
		on b.cno2 = c.cno3
		where a.cno = #{cno}
	</select>
	<!-- 챌린지 간소화인증 이동 -->
	<select id="getd"
		resultType="com.co.algomoko.challenge.domain.MyChallengeVO">
		select *
		from my_challenge
		where cno2 = #{cno2}
	</select>

	<!-- 챌린지 간소화인증 -->
	<insert id="valid"
		parameterType="com.co.algomoko.challenge.domain.ChallengeValidationVO">
		insert into challenge_validation (cvno, cno3, cvdate, round, attyn, vcon)
		values(cvno.nextval, #{cno}, sysdate, #{round}, '1', #{vcon})
	</insert>

	<!-- 오늘 일차 구하기 -->
	<select id="getRound" parameterType="int" resultType="int">
		select ceil(sysdate-to_date(a.sdate, 'YYYY-MM-DD'))
		from my_challenge a, challenge b
		where a.cno2 = b.cno and a.cno2 = #{cno}
	</select>

	<!-- 인증 갯수 구하기 -->
	<select id="getCertiCount" parameterType="int" resultType="int">
		select count(*)
		from challenge_validation
		where cno3 = #{cno}
	</select>

	<!-- 이행률 업데이트 -->
	<update id="cperUpdate" parameterType="int">
		update my_challenge
		set cper = #{cper}
		where cno2 = #{cno}
	</update>

	<!-- 인증 중복 방지 -->
	<select id="getDup" parameterType="int">
		select *
		from challenge_validation
		where round = #{round}
		and cno3 = #{cno}
	</select>
</mapper>