<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.algomoko.support.mapper.FaqMapper">
    <resultMap id="FaqType" type="com.co.algomoko.support.domain.FaqVO">
        <result property="faqNo" column="FAQNO"/>
        <result property="faqTitle" column="FAQTITLE"/>
        <result property="faqCon" column="FAQCON"/>
        <result property="faqFile" column="FAQFILE"/>
        <result property="Q0" column="Q0"/>
        <result property="mid" column="MID"></result>
    </resultMap>
    <resultMap id="InqType" type="com.co.algomoko.support.domain.InquiryVO">
        <result property="qno" column="QNO"/>
        <result property="A0" column="A0"/>
        <result property="qans" column="QANS"/>
        <result property="qdate" column="QDATE"/>
        <result property="nick" column="NICK"/>
        <result property="qtitle" column="QTITLE"/>
        <result property="C0" column="C0"/>
        <result property="mid" column="MID"/>
        <result property="qcon" column="QCON"/>
        <result property="qanst" column="QANST"/>
        <result property="ansdate" column="ANSDATE"/>
    </resultMap>
    <select id="FAQList" resultMap="FaqType" resultType="com.co.algomoko.support.domain.FaqVO">
        SELECT FAQNO, FAQTITLE, FAQCON
        FROM FAQ
        WHERE Q0 = #{Q0}
    </select>


    <select id="searchNo" resultType="com.co.algomoko.support.domain.InquiryVO">
        SELECT MAX(QNO) + 1 AS QNO
        FROM QUESTION
    </select>

    <select id="inqTableCount" resultType="int" >
        SELECT COUNT(*)
        FROM QUESTION
    </select>

    <select id="inqAllList" resultType="hashmap" resultMap="InqType">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER(ORDER BY QDATE DESC) AS
        ROW_NUM
        ,NICK
        ,GET_SUBSTR(QTITLE) AS QTITLE
        ,GET_CODE(A0) AS A0
        ,QDATE
        ,QNO
        ,MID
        FROM QUESTION
        )
        <choose>
            <when test="type != null and type.equals('email')">
                AND MID LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type != null and type.equals('nick')">
                AND NICK LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <if test="firstRecordIndex != null and lastRecordIndex != null">
            WHERE ROW_NUM BETWEEN #{firstRecordIndex} AND
            #{lastRecordIndex}
        </if>

    </select>

    <insert id="insertInquiry" parameterType="com.co.algomoko.support.domain.InquiryVO">
        INSERT INTO QUESTION(qno,
                             qtitle,
                             qcon,
                             nick,
                             mid,
                             A0,
                             qans,
                             qdate,
                             C0)
        VALUES (#{qno},
                #{qtitle},
                #{qcon},
                #{nick},
                #{mid},
                #{a0},
                #{qans},
                sysdate,
                #{C0}
                )
    </insert>

    <select id="getNick" parameterType="com.co.algomoko.support.domain.InquiryVO" resultType="String">
        SELECT NICK
        FROM MEMBERS
        WHERE MID = #{username}
    </select>
    <select id="getU0" parameterType="com.co.algomoko.admin.domain.AdminVO" resultType="String">
        SELECT U0
        FROM MEMBERS
        WHERE MID = #{mid}
    </select>

    <select id="InquiryDetail" resultType="com.co.algomoko.support.domain.InquiryVO">
        SELECT QCON, QTITLE, QDATE, NICK, QANS, A0, GET_CODE(C0) AS C0, QANST, QNO, MID
        FROM QUESTION
        WHERE MID = #{mid}
        AND QNO = #{qno}
    </select>

    <insert id="insertInqAns" parameterType="com.co.algomoko.support.domain.InquiryVO" >
        UPDATE QUESTION
        SET
            QANST = #{qanst},
            QANS = #{qans},
            A0 = #{a0},
            ANSDATE = sysdate
        WHERE NICK = #{nick}
        AND QNO = ${qno}
    </insert>


    <update id="updateInquiry" parameterType="com.co.algomoko.support.domain.InquiryVO">
        UPDATE  QUESTION
        SET
            QCON = #{qcon},
            QTITLE = #{qtitle},
            C0 = #{c0}
        WHERE QNO = #{qno}
    </update>

    <delete id="deleteInquiry" parameterType="com.co.algomoko.support.domain.InquiryVO">
        DELETE FROM QUESTION
        WHERE NICK = #{nick}
            AND MID = #{mid}
            AND QNO = #{qno}
    </delete>

</mapper>