<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.co.algomoko.user.mapper.UserMapper">
	<insert id="insert">
		INSERT INTO MEMBERS
		(MID,MPW,UNAME,NICK,BIRTH,
		 SEX,HEIGHT,WEIGHT,BMI,TCAL,
		 TWEIGHT,U0,B0)
		VALUES(#{mid},#{mpw},#{uname},#{nick},#{birth},
			   #{sex},#{height},#{weight},
			   #{bmi},#{tcal},
			   #{tweight, jdbcType=INTEGER},#{u0},#{b0})
	</insert>

	<select id="search">
		SELECT COUNT(*) FROM MEMBERS WHERE MID = #{mid}
	</select>

	<!-- 아이디중복체크 -->
	<select id="existByMid" resultType="boolean">
		SELECT COUNT(*) FROM MEMBERS WHERE MID = #{mid}
	</select>



	<delete id="delete">
		DELETE FROM MEMBERS WHERE MID = #{mid}
	</delete>

	<select id="findId" resultType="UserVO">
		SELECT * FROM MEMBERS WHERE MID=#{mid}
	</select>

	<!--  <update id="update">
       update member
       <trim suffixOverrides="," prefix="set">
           <if test="password!=null">password=#{password},</if>
           <if test="email!=null">email=#{email},</if>
           <if test="enabled!=null">enabled=#{enabled},</if>
           <if test="authority!=null">authority=#{authority},</if>
           <if test="checkcode!=null">checkcode=#{checkcode},</if>
           <if test="count!=null">count=#{count},</if>
           <if test="levels!=null">levels=#{levels},</if>
       </trim>
       where username=#{username}
   </update>

           suffix=""
       <trim> 문 안에서, "" 안의 내용을 가장 뒤에 붙여 준다.

       suffixOverrides=""
       <trim> 문 안에서, 가장 뒤에 "" 안의 글자가 있으면 자동으로 지워 준다.

       prefix=""
       <trim> 문 안에서, "" 안의 내용을 가장 앞에 붙여 준다.

       prefixOverrides=""
       <trim> 문 안에서, 가장 앞에 "" 안의 글자가 있으면 자동으로 지워 준다.-->
</mapper>