<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<title>challenge</title>
<style>
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<script>
		var result = '[[${msg}]]'
		if(result != ''){
			alert(result);
		}		
	</script>
		<script>
	$(document).ready(function(){
		$("#si").hover(function(){
			$("a").css("color",red);
		}, function(){
				$("a").css("color","black");
			})
	});
	</script>
		<!-- 모달창 시작 -->
		<div class="modal">
			<div class="modal_body">
				<div class="modal_title">
					<h2 id="title"></h2>
				</div>
				<div class="modal_content">
					<p id="contents"></p>
					<p>당신의 한계에 도전해보세요!</p>
				</div>
				<div class="modal_btn">
					<a href="" id="chl">
						<button class="modal_s">도전</button>
					</a>
					<button class="modal_c">취소</button>
				</div>
			</div>
		</div>
		<!-- 모달창 종료 -->
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="img/chl/11.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2 style="color:black;">챌린지</h2>
							<div class="breadcrumb__option">
								<span style="color:black;">Challenge</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->
		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5">
						<div class="blog__sidebar">
							<div class="blog__sidebar__search">
								<form action="/challenge?ctitle=" method="get"
									style="margin-right: 60px;">
									<input name="ctitle" type="text" placeholder="챌린지 검색">
									<button type="submit" value="검색">
										<span class="icon_search"></span>
									</button>
								</form>
							</div>
							<div class="blog__sidebar__item">
								<h4>Categories</h4>
								<ul>
									<li><a href="challenge">챌린지 목록</a></li>
									<li><a sec:authorize="hasAuthority('u1')"
										href="challenge/challenging">진행중인 챌린지</a></li>
									<li><a sec:authorize="hasAuthority('u1')"
										href="challenge/challengeEnd">완료한 챌린지</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-8 col-md-7">
						<div class="row">

							<th:block th:each="chl:${cList}">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="blog__item">
										<div class="blog__item__cpic">
											<ul>
												<li><a href="#" th:cno="${chl.cno}"
													th:title="${chl.ctitle}" th:dday="${chl.cdday}"
													th:onclick="chl_click(this.getAttribute('cno'), this.getAttribute('title'), this.getAttribute('dday'));">
														<div class="screen">
															<div class="top" th:text="${chl.ctitle}"></div>
															<div class="bottom" th:text="${chl.ccon}"></div>
															<img th:src="@{challenge/download(img=${chl.filepath})}"
																onerror="this.src='img/loading.png';">
														</div>
												</a></li>
											</ul>
										</div>
										<div class="blog__item__text">
											<ul>
												<li><i th:text="' '+'D-'+${chl.cdday}"
													class="fa fa-calendar-o"></i></li>
											</ul>
											<h5>
												<input type="hidden" th:value="${chl.cno}"> <a
													th:text="${chl.ctitle}"></a>
											</h5>
											<p th:text="${chl.cdday}+'일 동안 '+${chl.ctitle}+'에 도전하세요!'"></p>
											<a sec:authorize="hasAuthority('u1')" href="#"
												class="blog__btn" th:cno="${chl.cno}"
												th:title="${chl.ctitle}" th:dday="${chl.cdday}"
												th:onclick="chl_click(this.getAttribute('cno'), this.getAttribute('title'), this.getAttribute('dday'));">도전하기
												<span class="arrow_right"></span>
											</a>
											<div style="margin-left: 180px;">
												<a sec:authorize="hasAuthority('u0')"
													th:href="@{../challenge/cUpdate(cno=${chl.cno})}"><button
														class="site-btn">수정</button></a> <a
													sec:authorize="hasAuthority('u0')"
													th:href="@{/challenge/delete(cno=${chl.cno})}"><button
														class="site-btn">삭제</button></a>
											</div>
										</div>

									</div>

								</div>

							</th:block>

						</div>
						<hr>
						<div class="col-lg-12">
							<div style="float: right; margin-top: 10px;">
								<button sec:authorize="hasAuthority('u0')" class="site-btn"
									th:onclick="location.href='../challenge/cWrite'">챌린지
									작성</button>
							</div>
							<div class="paginate" th:if="${pagination != null}">
								<div class="paging" style="text-align: center">
									<!-- 이전 페이지 이동 버튼 생성 -->

									<!-- hasPreviousPage의 값을 통해, 이전 페이지가 있을 때 해당하는 버튼이 생성되도록 함.
									1 page의 경우, 이전 페이지가 존재하지 않으므로 이전 페이지로 넘어가는 버튼이 생성되지 않음. -->

									<!-- 이전 페이지가 있는 경우 -->
									<div th:if="${pagination.hasPreviousPage == true}"
										style="display: inline-block; margin: 0 10px"
										th:ctitle="${ctitle}">
										<a class="direction prev" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=1,ctitle=${pagination.ctitle})}'|">
											&lt;&lt; </a> <a class="direction prev"
											href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.currentPage-1},ctitle=${pagination.ctitle})}'|">
											&lt; </a>
									</div>
									<!-- 이전 페이지가 없는 경우 -->
									<div th:if="${pagination.hasPreviousPage == false}"
										style="display: inline-block; margin: 0 10px">
										<a class="direction prev" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=1,&cntPerPage=${pagination.cntPerPage}&pageSize=${pagination.pageSize}ctitle=${pagination.ctitle})}'|">
										</a> <a class="direction prev" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.currentPage},ctitle=${pagination.ctitle})}'|">
										</a>
									</div>
									<!-- 페이지 숫자 번호 출력 -->
									<div
										th:each="idx:${#numbers.sequence(pagination.firstPage, pagination.lastPage)}"
										style="display: inline-block; margin: 0 10px">
										<a
											style="color: #cc0000; font-weight: 700; margin-bottom: 2px;"
											href="javascript:void(0)"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${idx},ctitle=${pagination.ctitle})}'|"
											th:value="${idx}"> [[${idx}]] </a>
									</div>
									<!-- 다음 페이지 이동 있을 시 -->
									<div th:if="${pagination.hasNextPage == true}"
										style="display: inline-block; margin: 0 10px">
										<a class="direction next" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.currentPage+1},ctitle=${pagination.ctitle})}'|">
											&gt; </a> <a class="direction next" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.lastPage},ctitle=${pagination.ctitle})}'|">
											&gt;&gt; </a>
									</div>
									<!-- 다음 페이지 이동 없을 시 -->
									<div th:if="${pagination.hasNextPage == false}"
										style="display: inline-block; margin: 0 10px">
										<a class="direction next" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.totalRecordCount},ctitle=${pagination.ctitle})}'|">
										</a>
									</div>
									<div th:if="${pagination.hasNextPage == false}"
										style="display: inline-block; margin: 0 10px">
										<a class="direction next" href="javascript:void(0);"
											th:data-ctitle="${pagination.ctitle}"
											th:onclick="|location.href='@{/challenge(currentPage=${pagination.totalRecordCount},ctitle=${pagination.ctitle})}'|">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
		<!-- Blog Section End -->
		<script th:inline="javascript">		

	    const body = document.querySelector('body');
	    const modal = document.querySelector('.modal');  
	    
	    // 모달창 클릭 버튼
	   	function chl_click(cno, title, dday) {
	   		modal.style.display = "flex";
   	     	modal.style.overflow = 'hidden';		   	
   	     	
		   	let a = document.getElementById('title');
		   	let b = document.getElementById('contents');
			let c = document.getElementById('chl');
			a.innerHTML = title;
		   	b.innerHTML = dday+"일 동안 "+title+"에 도전하시겠습니까?";
		   	c.href = "/challenge/start?cno="+cno+"&cdday="+dday;		   
	   		}	      
	    
	   	// 모달창 닫기 버튼
	    const closeBtn = modal.querySelector(".modal_c")
	    closeBtn.addEventListener("click", e => {
	        modal.style.display = "none"
	        modal.style.overflow = 'auto';
	    })    	
		</script>
</body>
</html>