<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>challengeDetail</title>
</head>
<body>
	<th:block layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="../img/chl/b.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>진행중인 챌린지</h2>
							<div class="breadcrumb__option">
								<span>Challenging</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->

		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-5">
						<div class="blog__sidebar">
							<div class="blog__sidebar__item">
								<h4>Categories</h4>
								<ul>
									<li><a href="/challenge">챌린지 목록</a></li>
									<li><a href="/challenge/challenging">진행중인 챌린지</a></li>
									<li><a href="/challengeEnd">완료한 챌린지</a></li>
								</ul>
							</div>
						</div>
					</div>
					<th:block class="container">
						<div class="col-lg-9 col-md-7">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="blog__item">
										<div class="blog__item__pic">
											<br><br><br><img th:src="@{${dList.filepath}}" alt="">
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="blog__item__text">
										<br> <br>
										<h3 th:text="${dList.ctitle}" style="text-align: center"></h3>
										<br> <br>
										<p th:text="|${dList.cdday} 동안 ${dList.ctitle}에 도전중입니다!|"
											style="text-align: center;"></p>
										<p th:text="${dList.ccon}"></p>
										<h4 th:text="'이행률 : '+${dList.ccper}+'%'"style="text-align: center;"></h4>
									</div>
								</div>
							</div><br>
							<hr><br>
							<div class="row">
								<div class="col-lg-7 col-md-6 col-sm-6">
									<div class="blog__item__text" style="text-align: center;">
										<ul>
											<li th:text="'시작날짜 : '+${dList.sdate}"><i class="fa fa-calendar-o"></i></li>
											<li th:text="'종료날짜 : '+${dList.edate}"><i class="fa fa-calendar-o"></i></li>
										</ul>
										<br>
									</div>
									<div>
										<table id="challenge_table" style="width: 100%;	border: 1px solid #444444;">
											<tr th:each="list:${dList}">
												<td th:text="|${list.round}일차|">1일차</td>
												<td>2일차</td>
												<td>3일차</td>
												<td>4일차</td>
												<td>5일차</td>
												<td>6일차</td>
											</tr>
											<tr>
												<td>7일차</td>
												<td>8일차</td>
												<td>9일차</td>
												<td>10일차</td>
												<td>11일차</td>
												<td>12일차</td>
											</tr>
											<tr>
												<td>13일차</td>
												<td>14일차</td>
												<td>15일차</td>
												<td>16일차</td>
												<td>17일차</td>
												<td>18일차</td>
											</tr>
											<tr>
												<td>19일차</td>
												<td>20일차</td>
												<td>21일차</td>
												<td>22일차</td>
												<td>23일차</td>
												<td>24일차</td>
											</tr>
											<tr>
												<td>25일차</td>
												<td>26일차</td>
												<td>27일차</td>
												<td>28일차</td>
												<td>29일차</td>
												<td>30일차</td>
											</tr>
										</table>										
									</div>
								</div>
								<div class="col-lg-5 col-md-6 col-sm-6"
									style="text-align: center;">
									<br> <br> <br> <br>
									<h3>인증</h3>
									<br>
									<hr>
									<br>
									<p>인증 사진</p>
									<br>
									<form name="content" action="이 데이터들을 받을 파일" method="post"
										enctype="multipart/form-data">
										<input style="margin-left: 70px;" type='file' name='content' />
									</form>
									<br>
									<div id="container">
										<div class="blog__item__text">
											<a href=# class="blog__btn">인증하기 <span class="arrow_right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->
</body>

</html>