<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>challenging</title>

</head>

<body>
	<th:block layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="../img/chl/b.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>진행중인 챌린지</h2>
							<div class="breadcrumb__option">
								<span>Challenging</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->
		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5">
						<div class="blog__sidebar">
							<div class="blog__sidebar__search">
								<form action="#" style="margin-right: 60px;">
									<input type="text" placeholder="챌린지 검색">
									<button type="submit">
										<span class="icon_search"></span>
									</button>
								</form>
							</div>
							<div class="blog__sidebar__item">
								<h4>Categories</h4>
								<ul>
									<li><a href="/challenge">챌린지 목록</a></li>
									<li><a href="/challenge/challenging">진행중인 챌린지</a></li>
									<li><a href="/challenge/challengeEnd">완료한 챌린지</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="row">
							<div th:each="mc:${mcList}" class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog__item">
									<div class="blog__item__cpic">
										<img th:src="@{${mc.filepath}}" alt="">
									</div>
									<div class="blog__item__text">
										<ul>
											<!-- <li><i th:text="' '+'D-'+${chl.cdday}"
												class="fa fa-calendar-o"></i></li> -->
											<li th:text="${mc.sdate}"><i class="fa fa-calendar-o"></i>시작날짜: 7월5일</li>
											<li th:text="${mc.edate}"><i class="fa fa-calendar-o"></i>종료날짜: 8월3일</li>
										</ul>
										<h5 th:text="${mc.ctitle}"><a>탄산 끊기</a></h5>
										<p th:text="${mc.cdday}+'일 동안 '+${mc.ctitle}+' 도전중!'">30일 동안 탄산 끊기 도전중!</p>
										<p th:text="'이행률 : '+${mc.cper}+'%'">이행률 : 70%</p>
										<a th:href="@{/challenge/challengeDetail(cno=${mc.cno})}" class="blog__btn">인증하기 <span class="arrow_right"></span></a>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="product__pagination blog__pagination">
									<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a
										href="#"><i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
	<!-- Blog Section End -->
</body>

</html>