<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>challenge</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="../css/nice-select.css" type="text/css">
<link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="../css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="../css/style.css" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>

<body>
	<!-- 모달창 시작 -->
	<div class="modal">
		<div class="modal_body">
			<div class="modal_title">
				<h2>Challenge</h2>
			</div>
			<div class="modal_content">
				<p>챌린지에 도전하시겠습니까?</p>
				<p>도전은 30일간 지속됩니다.</p>
				<p>한번 도전 시 취소는 불가능합니다.</p>
			</div>
			<div class="modal_btn">
				<a href="/challenge/challenging"><button class="modal_s">도전</button></a>
				<button class="modal_c">취소</button>
			</div>
		</div>
	</div>
	<!-- 모달창 종료 -->


	<div th:replace="~{fragments/header}"></div>


	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		data-setbg="img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>챌린지</h2>
						<div class="breadcrumb__option">
							<span>Challenge</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Blog Section Begin -->
	<section class="blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-5">
					<div class="blog__sidebar">
						<div class="blog__sidebar__search">
							<form action="/challenge?ctitle=" method="get"
								style="margin-right: 60px;">
								<input name="title" type="text" placeholder="챌린지 검색">
								<button type="submit">
									<span class="icon_search"></span>
								</button>
							</form>
						</div>
						<div class="blog__sidebar__item">
							<h4>Categories</h4>
							<ul>
								<li><a href="challenge">챌린지 목록</a></li>
								<li><a href="/challenge/challenging">진행중인 챌린지</a></li>
								<li><a href="/challenge/challengeEnd">완료한 챌린지</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-7">
					<div class="row">
						<div th:each="chl:${cList}" class="col-lg-6 col-md-6 col-sm-6">
							<div class="blog__item">
								<div class="blog__item__cpic">
									<img src="../img/chl/cola.png" alt="">
								</div>
								<div class="blog__item__text">
									<ul>
										<li><i th:text="' '+'D-'+${chl.cdday}"
											class="fa fa-calendar-o"></i></li>
									</ul>
									<h5>
										<a th:text="${chl.ctitle}"></a>
									</h5>
									<p th:text="${chl.cdday}+'일 동안 '+${chl.ctitle}+'에 도전하세요!'"></p>
									<a href="#" class="blog__btn">도전하기<span class="arrow_right"></span></a>
									<a th:href="@{../challenge/cUpdate(cno=${chl.cno})}">수정</a>	
									<!-- <button class="site-btn" type="button"><a th:href="@{/challenge/delete/(cno=${chl.cno})}">삭제</a></button> -->
									 <!-- th:onClick="'location.href=\''+@{/challenge/delete/(cno=${chl.cno})}+'\''" -->
								</div>

							</div>
						</div>
					</div>
					<div>
						<button class="site-btn"
							th:onclick="location.href='../challenge/cWrite'" >글쓰기</button>
					</div>
					<div class="col-lg-12">
						<div class="product__pagination blog__pagination">
							<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#"><i
								class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section End -->

	<div th:replace="~{fragments/footer}"></div>

	<!-- Js Plugins -->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.nice-select.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/jquery.slicknav.js"></script>
	<script src="../js/mixitup.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/main.js"></script>
</body>
<script>
    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');

    $('.blog__btn').click((e) =>{
        modal.style.display = "flex"
        body.style.overflow = 'hidden';
    })
    const closeBtn = modal.querySelector(".modal_c")
    closeBtn.addEventListener("click", e => {
        modal.style.display = "none"
        body.style.overflow = 'auto';
    })    
</script>
<script>
	$('#delete').click(function(){
		$.ajax({
			url:"/challenge/delete/"+$('#cno').val(),
			type:"DELETE",
			success:function(){
				alert('삭제 성공!');
				location.href='/challenge'
			},
			error: function(){
				alert('삭제 실패!');
			}
		})
	});
</script>

</html>