<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>challenging</title>

</head>

<body>
	<th:block layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="../img/chl/chlmain.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>완료한 챌린지</h2>
							<div class="breadcrumb__option">
								<span>End Challenge</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->
		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5">
						<div class="blog__sidebar">
							<div class="blog__sidebar__search">
								<form action="#" style="margin-right: 60px;">
									<input type="text" placeholder="챌린지 검색">
									<button type="submit">
										<span class="icon_search"></span>
									</button>
								</form>
							</div>
							<div class="blog__sidebar__item">
								<h4>Categories</h4>
								<ul>
									<li><a href="../challenge">챌린지 목록</a></li>
									<li><a href="../challenge/challenging">진행중인 챌린지</a></li>
									<li><a href="../challenge/challengeEnd">완료한 챌린지</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="row">
							<div th:each="e:${eList}" class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog__item">
									<div class="blog__item__cpic">
										<img th:src="@{download(img=${e.filepath})}">
									</div>
									<div class="blog__item__text">
										<ul>
											<li><i th:text="| 시작날짜 : ${e.sdate}|" class="fa fa-calendar-o"></i></li>
											<li><i th:text="| 종료날짜 : ${e.edate}|" class="fa fa-calendar-o"></i></li>
										</ul>
										<h5 ><a th:text="${e.ctitle}">탄산 끊기</a></h5>										
										<p th:if ="${e.cper} == 100" th:text="|${e.cdday}일 동안 도전하는 ${e.ctitle}에 성공했습니다.|"></p>										
										<p th:unless ="${e.cper} == 100" th:text="|${e.cdday}일 동안 도전하는 ${e.ctitle}에 실패했습니다.|"></p>
										<p th:text="|이행률 : ${e.cper}%|"></p>													
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="product__pagination blog__pagination">
									<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a
										href="#"><i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
	<!-- Blog Section End -->
</body>

</html>