<!DOCTYPE html>
<html lang="zxx"
layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
        }

        th,
        td {
            border: 1px solid #444444;
            padding: 10px;
            padding-bottom: 25px;

        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/chl/b.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>진행중인 챌린지</h2>
                        <div class="breadcrumb__option">
                            <span>Challenging</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="./challenge.html">챌린지 목록</a></li>
                                <li><a href="./challenging.html">진행중인 챌린지</a></li>
                                <li><a href="./challengeEnd.html">완료한 챌린지</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    </br></br>
                                </br><img src="img/chl/breakfast.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item__text">
                                </br></br>
                                <h3 style="text-align: center"><span class="material-symbols-outlined"
                                        style="color: red;;">local_fire_department</span> 아침 먹기</h3></br></br>
                                <p style="text-align: center;">30일 동안 아침 먹기에 도전중입니다! </p>
                                <p>아침 먹기의 효능 : 아침밥은 에너지를 공급하고 체온을 높이는 작용을 한다. 호르몬을 규칙적으로 분비시켜 신체리듬을 안정되게 하고 환절기나 쌀쌀한 날씨에 감기예방에 도움이 된다. 아침식사 습관은 심장병 발병 위험도 낮춰준다.</p>                                
                                <h4 style="text-align: center;">이행률 : 0%</h4>
                            </div>
                        </div>
                    </div>
                    </br><hr></br>
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <div class="blog__item__text" style="text-align: center;">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i>시작날짜: 7월5일</li>
                                    <li><i class="fa fa-calendar-o"></i>종료날짜: 8월3일</li>
                                </ul></br>
                            </div>
                            <div>
                                <table id="challenge_table">
                                    <tr>
                                        <td>1일차</td>
                                        <td>2일차</td>
                                        <td>3일차</td>
                                        <td>4일차</td>
                                        <td>5일차</td>
                                        <td>6일차</td>
                                    </tr>
                                    <tr>
                                        <td>7일차</td>
                                        <td>8일차</td>
                                        <td>9일차</td>
                                        <td>10일차</td>
                                        <td>11일차</td>
                                        <td>12일차</td>
                                    </tr>
                                    <tr>
                                        <td>13일차</td>
                                        <td>14일차</td>
                                        <td>15일차</td>
                                        <td>16일차</td>
                                        <td>17일차</td>
                                        <td>18일차</td>
                                    </tr>
                                    <tr>
                                        <td>19일차</td>
                                        <td>20일차</td>
                                        <td>21일차</td>
                                        <td>22일차</td>
                                        <td>23일차</td>
                                        <td>24일차</td>
                                    </tr>
                                    <tr>
                                        <td>25일차</td>
                                        <td>26일차</td>
                                        <td>27일차</td>
                                        <td>28일차</td>
                                        <td>29일차</td>
                                        <td>30일차</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6" style="text-align: center;">
                            </br></br></br></br>
                            <h3>인증</h3></br>
                            <hr></br>
                            <p>인증 사진</p></br>
                            <form name="content" action="이 데이터들을 받을 파일" method="post" enctype="multipart/form-data">
                                <input style="margin-left: 70px;" type='file' name='content' />
                            </form></br>
                            <div id="container">
                                <div class="blog__item__text">
                                    <a href="#" class="blog__btn">인증하기 <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Blog Section End -->
</body>

</html>