<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<th:block layout:fragment="content">
<!--회원 목록 body-->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/documents-gcdd7a37e5_1920.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text" style="font-family: 'Cairo', 'Jua', sans-serif">
                    <h2 style="font-family: 'Cairo', 'Jua', sans-serif; font-weight: lighter">관리자</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html" style="font-family: 'Cairo', 'Jua', sans-serif; font-weight: normal">관리자 페이지</a>
                        <span>관리자 페이지의 메인 화면입니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5" style="; background: linear-gradient(to bottom, #f3feff, #b9cad1);">
                <!-- menu bar Begin -->
                <div class="sidebar">
                    <div class="sidebar__item" style="font-family: 'Cairo', 'Jua', sans-serif; margin-top: 20px">
                        <a href="/Admin">
                            <h4 style="font-family: 'Cairo', 'Jua', sans-serif; font-weight: normal">관리자 페이지</h4>
                        </a>
                            <ul>
                                <li><a href="/Admin/UserList">회원 관리</a></li>
                                <li><a href="/Admin/Statistics">통계</a></li>
                                <li><a href="/Admin/UserStatistics">- 회원 통계</a></li>
                                <li><a href="/Admin/Statistics">- 식단 통계</a></li>
                                <li><a href="/Admin/Statistics">- 챌린지 통계</a></li>
                                <li><a href="/Inquiry">1:1문의 내역 확인</a></li>
                                <li><a href="/FAQ">FAQ 이동</a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid col-lg-9">
                <div class="row" style="margin-left: 20px">
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4 style="font-family:'Cairo', 'Jua', sans-serif; font-weight: normal; margin-bottom: 10px;">회원 관리</h4>
                             <a href="/Admin/UserList"><img src="/img/files.png" style="height: 180px; width: 180px; margin:0 0 0 50px; border: 0px; list-style: none"></a>
                        </div>
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <p style="padding-top: 128px; font-family: 'Cairo', 'Jua', sans-serif">부적절한 행동을 한 회원에 대해 조치할 수 있는 페이지입니다.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4 style="font-family:'Cairo', 'Jua', sans-serif; font-weight: normal; margin-bottom: 10px;">문의내역</h4>
                            <a href="Inquiry"><img src="/img/conversation.png" style="height: 180px; width: 180px; margin:0 10px 0 50px; border: 0px; list-style: none"></a>
                        </div>
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <p style="padding-top: 128px; font-family: 'Cairo', 'Jua', sans-serif">AlgoMoko를 이용하며 발생하는 의문점, 문제점들에 대해<br>회원들이 질문을 하는 페이지입니다.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4 style="font-family:'Cairo', 'Jua', sans-serif; font-weight: normal; margin-bottom: 10px;">FAQ</h4>
                            <a href="FAQ"><img src="/img/faq.png" style="height: 180px; width: 180px; margin-left: 40px"></a>
                        </div>
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <p style="padding-top: 128px; font-family: 'Cairo', 'Jua', sans-serif">자주 들어오는 질문들을<br> 항목 별로 분류하여 정리한 페이지입니다.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4 style="font-family:'Cairo', 'Jua', sans-serif; font-weight: normal; margin-bottom: 10px;">통계</h4>
                            <a href="/Admin/Statistics"><img src="/img/statistics.png" style="height: 180px; width: 180px; margin-left: 10px"></a>
                        </div>
                    </div>
                    <div class="col-sm-8" style="text-align: center;">
                        <p style="padding-top: 128px; font-family: 'Cairo', 'Jua', sans-serif">회원 정보, 활동들에 대해 통계를 냄으로써<br> 다양한 정보를 분류한 페이지입니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</th:block>
</body>

</html>