<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

</head>

<body>
<th:block layout:fragment="content">
<!--회원 목록 body-->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>관리자</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">관리자 페이지</a>
                        <span>관리자 페이지의 메인 화면입니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <!-- menu bar Begin -->
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>my Page</h4>
                        <ul>
                            <li><a href="/UserList">회원 관리</a></li>
                            <li><a href="/UserList">- 회원리스트</a></li>
                            <li><a href="/ReportUser">- 신고유저관리</a></li>
                            <li><a href="/Statistics">통계</a></li>
                            <li><a href="#">1:1문의 내역 확인</a></li>
                            <li><a href="#">FAQ이동</a></li>
                            <li><a href="#">레시피관리</a></li>
                        </ul>
                    </div>
                </div>
                <!-- menu bar end -->
            </div>
            <div class="container-fluid col-lg-9">
                <div class="row">
                    <div class="col-sm-4 border">
                        <div class="contact__widget">
                            <h4>기능1</h4>
                            <img src="img\icon1.png">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4>기능2</h4>
                            <img src="img\icon2.png">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact__widget">
                            <h4>기능3</h4>
                            <img src="img\icon3.png">

                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="">
                        <div class="contact__widget">

                            <h4>통계1</h4>
                            <img src="img\data1.jpg" style="display: block; margin: 0 auto; width:900px; height:200px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <div class="contact__widget">

                            <h4>통계2</h4>
                            <img src="img\data1.jpg" style="display: block; margin: 0 auto; width:900px; height:200px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Product Section End -->
</th:block>
</body>

</html>