<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

</head>

<body>
<th:block layout:fragment="content">
<!--회원 목록 body-->
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg"
             data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>음식</h2>
                        <div class="breadcrumb__option">
                            <span>Food-Search</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- 회원 정보 Begin -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <!-- menu bar Begin -->
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>my Page</h4>
                        <ul>
                            <li><a href="/UserList">회원 관리</a></li>
                            <li><a href="/UserList">- 회원리스트</a></li>
                            <li><a href="/ReportUser">- 신고유저관리</a></li>
                            <li><a href="/Statistics">통계</a></li>
                            <li><a href="/moveInquiry">1:1문의 내역 확인</a></li>
                            <li><a href="/moveFAQ">FAQ이동</a></li>
                            <li><a href="#">레시피관리</a></li>
                        </ul>
                    </div>
                </div>
                <!-- menu bar end -->
            </div>

            <div class="container-fluid col-lg-9">
                <div class="row">
                    <table class="table table-hover" style="text-align: center">
                        <h4>회원관리</h4>
                        <div class="d-flex flex-row-reverse col-lg-12 ">
                            <div class="p-2 border">정지리스트</div>
                            <div class="p-2 border">블랙리스트</div>

                        </div>
                        <thead>
                        <tr>
                            <th scope="col" style="margin:20px 0">아이디</th>
                            <th scope="col">성별</th>
                            <th scope="col">닉네임</th>
                            <th scope="col">상태</th>
                        </tr>
                        </thead>
                        <tbody id ='boardtable'>
                            <tr th:each="lists:${list}">
                                <td th:text="${lists.uid}"></td>
                                <td th:text="${lists.sex}"></td>
                                <td th:text="${lists.nick}"></td>
                                <td th:text="${lists.b0}"></td>
                                <td>
                                    <a th:href="@{/userRestrict(uid=${lists.uid})}">변경</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group" style="text-align: center; margin: 100px 0 0 0">
                    <div style="text-align: center; font-family: 'Cairo', 'Jua', sans-serif">
                        <form name="search-form" autocomplete="off">
                            <input type="text" placeholder="검색어 입력" style="border: 1px solid" name ="keyword" id="findUserPress">
                            <select id = "selectOption" name = "type">
                                <option value="email">이메일</option>
                                <option value="nick">닉네임</option>
                            </select>
                            <button class="btn btn-success" onclick="findUserList()" type="button" id="button-addon2">검색</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        function findUserList(){
            $.ajax({
                type: 'GET',
                url : "/findUserList",
                data : $("form[name=search-form]").serialize(),
                success : function(result){
                    //테이블 초기화
                    $('#boardtable').empty();
                    if(result.length>=1){
                        result.forEach(function(lists){
                            str='<tr>'
                            str += "<td>"+lists.uid +"</td>";
                            str+="<td>" +lists.sex +"</td>";
                            str+="<td>"+lists.nick +"</td>";
                            str+="<td>"+lists.b0 +"</td>";
                            str+="</tr>"
                            $('#boardtable').append(str);
                        })
                    }
                }
            })
        }

        function moveUserRestrict() {
            fetch({
                url : '/userRestrict',
                method : 'GET'
            }).then()
        }

        let findUserPress = document.getElementById('findUserPress');
        findUserPress.addEventListener("keypress", findUserList);

    </script>
<!-- Product Section End -->
</th:block>
</body>

</html>