<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/mainsic.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  

    <link rel="stylesheet" href="StyleCards.css"/>
  
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
      })
    } );
    </script>
</head>

<div th:replace="~{fragments/header}"></div>
<div th:replace="~{fragments/aside}"></div>

        <!-- Shoping Cart Section Begin -->

	
      <p id="date" th:text="${std}"><p>
        <section class="shoping-cart spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="shoping__cart__table">
                      
                          <table>
                              <thead>
                                  <tr>
                                      <th></th>
										<th>kcal</th>
                                      <th>인분(양)</th>
                                      <th>3대영양소</th>
                                  </tr>
                                  
                              </thead>
                               
                              
                              
                              
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody data-dddo='aa'>
                             
                              <th:block th:each="today:${todaysic}">
                              
                              <tr th:if= "${today.dddo == 'aa'}" class="detail">
                              
                              <td th:text="${today.ddname}" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      </td>

                                      <td th:text="${today.amount}" class="shoping__cart__total">
                                          
                                      </td>
                                      </td>

                                      <td th:text="|${today.carb},${today.prot},${today.fat}|" class="shoping__cart__total">
                                          
                                      </td>
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody data-dddo='bb'>
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if= "${today.ddname == null }" class="detail">
                              <td class="shoping__cart__price"><a href="write"><img src="img/list-icon.png" style="width: 200px; height: 100px;"></a></td>
                              <tr th:if="${today.dddo == 'bb'}" class="detail">
                              <td th:text="${today.ddname}" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      </td>

                                      <td th:text="${today.amount}" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${today.carb},${today.prot},${today.fat}|" class="shoping__cart__total">
                                          
                                      </td>
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>
										<td></td>
                                  </tr>
                              </thead>
                              <tbody data-dddo='cc'>
                               <td></td>
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'cc'}" class="detail">
                              
                              <td th:text="${today.ddname}" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          
                                          <h5></h5>
                                      </td>
                                      <td <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      </td>

                                      <td th:text="${today.amount}" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${today.carb},${today.prot},${today.fat}|" class="shoping__cart__total">
                                          
                                      </td>
                                  </tr>
                             </th:block>
                             
                             </tbody>
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody>
                              
                              <th:block th:each="result:${resultCal}" >
                              
                              
                              <tr th:if="${todaysic[0].ddate==result.ddate}" >
                              <td th:text="${result.sumcal}" class="shoping__cart__item">
                                          
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      
                                      
                                  </tr>
                                   
                             </th:block>
                                                         
                                  
                               
                          </table>
                          <button class="btn btn-primary blog__btn" onclick="location.href='modify'">수정</button>
                      </div>
                  </div>
              </div>
             
               
                 
              </div>
          </div>
      </section>
    <!-- Blog Section End -->
    
    
    <br/>

<div th:replace="~{fragments/footer}"></div>
     
<script>
        $(function () {
            
            
			
			$("tbody").click(function(){
			
			var no = $(this).attr('data-dddo')
			var date = $('#date').text()
			
                location.href='/modify?dddo='+no+'&date='+date;
                    
                
               


            })
			})
        	
        
    </script>
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>