<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
  
    
    

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mainsic.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/StyleCards.css"/>
      <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
 
    
    
    <script>
    
        
    
    
    
    
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
      })
    } );
    
    
    
    </script>
</head>

<div th:replace="~{fragments/header}"></div>
<div th:replace="~{fragments/aside}"></div>

<div >
<h2 style="margin-top: -100px; margin-left: 900px; margin-bottom: 30px;" th:text="${std}"></h2>
</div>

        <!-- Shoping Cart Section Begin -->

      
        <section class="shoping-cart spad" style="padding-top: 10px;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="shoping__cart__table">
                      
                          <table style=" width: 800px; margin-left:150px;">
                              <thead>
                                  <tr>
                                      <th></th>
									  <th>kcal</th>
                                      
                                      <th>탄수화물</th>
                                      <th>단백질</th>
                                      <th>지방</th>
                                      <th>인분(양)</th>
                                  </tr>
                              </thead>
                               
                              <thead>
                                  <tr style="width:300px;">
                                      <th class="shoping__product">아침</th>
                                  </tr>
                              </thead>
                              
                              <tbody data-dddo='aa'>
                             <!--<th:if="${#lists.size(aade) != 0}">-->
                              <th:block th:each="aade:${aade}">
                              
                              <tr class="detail">
                              
                              <td th:text="${aade.ddname}" class="shoping__cart__total" >
                                      <img src="img/cart/cart-1.jpg" alt=""> </td>
                                      <td td th:text="|${aade.cal}kcal|"  class="shoping__cart__total"> </td>
                                      
                                      <td th:text="|${aade.carb}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${aade.prot}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${aade.fat}g|" class="shoping__cart__total"></td>
                                      <td th:text="${aade.amount}" class="shoping__cart__total"></td></td>
                                  </tr>
                             </th:block>
                             
                             <tr th:unless="${#lists.size(aade) != 0}" class="pinsert">
                             
                                  <td colspan="6"><img class="plusnew" src="/img/plus.jpg" style="width: 100px; margin-left: 350px; "></td>
                                  </tr>
                             
                             <thead>
                                  <tr>
                                       <th class="shoping__product">점심</th>
                                  </tr>
                              </thead>
                              
                              <tbody data-dddo='bb'>
                              <th:if="${#lists.size(aade) != 0}">
                               <th:block th:each="bbde:${bbde}">
                              
                              <tr class="detail">
                              
                              <td th:text="${bbde.ddname}" class="shoping__cart__total" style="text-align:center;">
                                          <img src="img/cart/cart-1.jpg" alt=""></td>
                                      <td td th:text="|${bbde.cal}kcal|"  class="shoping__cart__total"></td>
                                      
                                      <td th:text="|${bbde.carb}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${bbde.prot}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${bbde.fat}g|" class="shoping__cart__total"></td>
                                      <td th:text="${bbde.amount}" class="shoping__cart__total"></td>
                                  </tr>
                             </th:block>
                             
                             <tr th:unless="${#lists.size(bbde) != 0}" class="pinsert">
                                  <td colspan="6"><img src="/img/plus.jpg" class="plusnew" style=" margin-left: 350px; width: 100px;"></td>
                                  </tr>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                       <th class="shoping__product">저녁</th>
                                  </tr>
                              </thead>
                              
                              <tbody data-dddo='cc'>
                              <th:if="${#lists.size(aade) != 0}">
                               <th:block th:each="ccde:${ccde}">
                              	
                              	<tr class="detail">
                              
                              <td th:text="${ccde.ddname}" class="shoping__cart__total" style="text-align:center;">
                                      <img src="img/cart/cart-1.jpg" alt=""></td>
                                      <td td th:text="|${ccde.cal}kcal|"  class="shoping__cart__total"></td>
                                      
                                      <td th:text="|${ccde.carb}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${ccde.prot}g|" class="shoping__cart__total"></td>
                                      <td th:text="|${ccde.fat}g|" class="shoping__cart__total"></td>
                                      <td th:text="${ccde.amount}" class="shoping__cart__total"></td></td>
                                  </tr>
                             </th:block>
                             
                             <tr th:unless="${#lists.size(ccde) != 0}" class="pinsert">
                                  <td colspan="6"><img src="/img/plus.jpg" class="plusnew" style=" margin-left: 350px; width: 100px;"></td>
                                  </tr>
                             </tbody>
                             </th:block>
                             <thead>
                                  <tr id="recal">
                                  	  <th class="shoping__product" style="text-align:center;">권장 칼로리</th>
                                      <th class="shoping__product" style="text-align:center;">총 칼로리</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              
                              <tbody>
                             
                              
                              
                               <tr th:if="${resultCal[0].sumcal == 0}">
                              
                              <td th:text="${tcal}" class="shoping__product" style="text-align:center;">
                                          </td>
                              
                              <td  class="shoping__product" style="text-align:center;">일지를 등록해주세요
                                          </td>
                                          
                                          
                                  </tr>
                             
                              
                              
                              
                              <tr th:unless="${resultCal[0].sumcal == 0}" id="concon">
                              
                              <td th:text="${tcal}" id="tocal"  class="shoping__product" style="text-align:center;">
                                          </td>
                                          
                                          <td th:text="${resultCal[0].sumcal}" id="daycal" class="shoping__product" style="text-align:center;">
                                          </td>
                                          <td></td>
                                          <th><div id="donutchart1"></div></th>
                                  </tr>
                                  
                                  
                             
                             
                             
                          </table>
                      </div>
                  </div>
              </div>
             
              </div>
          </div>
      </section>
      <p id="date" th:text="${std}" style="color: white;"><p>
    <!-- Blog Section End -->
    
    
    <br/>

<div th:replace="~{fragments/footer}"></div>
     
<script>
			


			
        $(function () {
            
            function comparison(){
					var a = Number($("#tocal").html());
					var b = Number($("#daycal").html());
					var recal = $("#recal");
					var concon = $("#concon");
					if(a>=b){
						$("#recal").append($("<th>").addClass('shoping__product').html("영양소").css("text-align", "center"))
						
						$("#concon").append($("<td>").addClass('shoping__product').html("적정량 섭취").css("text-align", "center").css("color","blue"))
						
						//잘먹었다
					}else{
						$("#recal").append($("<th>").addClass('shoping__product').html("영양소").css("text-align", "center"))
						
						$("#concon").append($("<td>").addClass('shoping__product').html("과식").css("text-align", "center").css("color","red"))
					}
			
				
				}
				comparison()
				
            
			
			$(".detail").click(function(){
			
			var	no = $(this).parent().attr('data-dddo')
			var	date = $('#date').text()
			 location.href='/diary/modify?dddo='+no+'&date='+date;
                
                

            })
            
             $(".pinsert").click(function(){
			
			var	no = $(this).parent().attr('data-dddo')
			var	date = $('#date').text()
			
                location.href='/diary/weekwrite?dddo='+no+'&date='+date;
                

            })     
	
			
      })  	
        
    </script>
    
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        <!-- 성별 통계 -->
        document.addEventListener('DOMContentLoaded', function () {
            google.charts.load("current", {packages: ["corechart"]});
            google.charts.setOnLoadCallback(drawChart1);

            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['탄수화물', [[${resultCal[0].carb}]]],
                    ['단백질', [[${resultCal[0].prot}]]],
                    ['지방', [[${resultCal[0].fat}]]]
                ]);
                var options = {
                    title: '3대영양소',
                    'width':200,
                    'height':200,
                    pieSliceText:'label',
                    legend:'none' 
                };
                var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
                chart.draw(data, options);
            }
        })
    </script>

</body>

</html>