<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ogani | Template</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">

	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js">
	</script>

	<script>
		$(function () {

			$("#datepicker").datepicker({
				dateFormat: 'yy-mm-dd',
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				showMonthAfterYear: true,
				yearSuffix: '년'
			})
		});
	</script>
	<style>
		.btn-secondary {
			margin-left: 20px;
		}

		span {
			color: #494949;
			font-weight: bold;
		}

		#pageing {
			border: 1px solid #e6e6e6;
			line-height: 30px;
			background-color: #fff;
			color: #999999;
		}

		.input {
			height: 23px;
			margin-left: 10px;
			margin-right: 10px;
			display: inline-block;
			padding: 0 10px;
			vertical-align: middle;
			border: 1px solid #dddddd;
			width: 20%;
			color: rgb(94, 94, 94);
			border-radius: 5px;
			text-align: center;
		}

		#leftinput,
		#rightinput {
			margin-right: 18px;
		}

		#leftinput1,
		#rightinput1 {
			background-color: #f1f1f1;
		}

		#startCndate {
			margin-right: 10px;
		}

		#endCndate {
			margin-left: 5px;
		}

		.dataTable-input {
			height: 40px;
		}

		.nameing {
			float: right;
			font-size: medium;
			font-weight: normal;
			margin-top: 15px;
		}

		#modal {
			display: none;
		}

		.title {
			text-align: center;
			margin-bottom: 10px;
			margin-top: -10px;
		}
	</style>



</head>

<body>
	<div th:replace="~{fragments/header}"></div>
	<div th:replace="~{fragments/aside}"></div>
	
	<div class="modal">
		<div class="modal1_body">
			<div class="modal_title">
				<input type="text" id="textex"><button id="btnbtn" name="btnbtn" class="btn btn-primary">검색</button>
				<div class="modal_content">

				</div>
			</div>
			<!-- 제품모달 그리드 -->
			<div class="container-fluid px-4">

				<div id="gridpro"></div>
				<div class="modal_btn">
					<button id="modalbtn" class="modal_s">등록</button>
					<button class="modal_c">취소</button>
				</div>
			</div>
		</div>
	</div>



	<form method="post" action="/diary/modifyde" name="frm" id="frm">

<div class="row">
		<div class="col-md-3 mb-1">
			<div class="input-group mb-3">

				<input type="text" class="form-control blog__btn" placeholder="재료검색">

			</div>

		</div>



	<div class="col-md-3 mb-1">
		<div class="checked" style="text-align: center;">
			<div class="form-check" style="display: inline-block;">

				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="dddo" value="aa" onclick="return(false);"
						th:checked="${modify[0].dddo eq 'aa'}">아침

					
			</div>
			<div class="form-check" style="display: inline-block;">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="dddo" value="bb" onclick="return(false);"
						th:checked="${modify[0].dddo eq 'bb'}">점심
					
			</div>
			<div class="form-check" style="display: inline-block;">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" name="dddo" value="cc" onclick="return(false);"
						th:checked="${modify[0].dddo eq 'cc'}">저녁
					
			</div>
			</div>
		</div>
		<div class="col-md-2">
				<input class="form-control" readonly type="date" name="ddate" th:value="${dat}"
						id="html5-date-input">
			</div>
</div>




		<div class="container">
			<div class="row">
				
				
				<div class="col-sm-12 col-xl-5">
					<table class="table table-borderless" style="min-height: 200px;">
						<thead>
							<tr>
								<th class="thth">재료명</th>
								<th class="thth">칼로리</th>
								<th class="thth" colspan="3">수량</th>
							</tr>
						</thead>
						<tbody id="tbody1">
						 <th:block th:each="qweqwe:${modify}">
                        <tr>
                           <th>
                              <input th:value="${qweqwe.ddname}" class="thth1" type="text" name="ddname">
                           </th>
                           <th>
                              <input th:value="${qweqwe.cal}" class="thth2" type="text" name="cal">
                              
                           </th>
                           <th>
                              <input th:value="${qweqwe.amount}" class="thth3" type="text" name="amount">
                           </th>
                           <th>
                              <input th:value="${qweqwe.cal}/${qweqwe.amount}" type="hidden">
                           </th>
                           <td class="shoping__cart__item__close"><button class="icon_close"></td>
                        </tr>

                     </th:block>



						</tbody>


					</table>
<div class="font-bold text-xl">kcal




						<td><input type="text" id="seipSum"></td>
</div>
				</div>


				<div class="col-sm-12 col-xl-6">
					<div class="tab-content">


						<div class="product__details__tab__desc">
							<h5 style="text-align: center;">일지 작성</h5>
							<br>

							<textarea class="form-control" name="ucon" rows="15" cols="30" th:text="${con[0].ucon}"></textarea>
						</div>
					</div>
				</div>
			</div>
<div class="row justify-content-center mt-6">
				<div class="col-sm-4">
					<button class="btn btn-success" id="che">수정</button>
					<button class="btn btn-success" onclick="diaryde()" id="insert">삭제</button>
					<button type="button" class="btn btn-secondary" onclick="history.go(-1);">취소</button>
				</div>
			</div>
		</div>
		




		</div>

	</form>

	<div th:replace="~{fragments/footer}"></div>

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>

	<script>
      var gin;
      var gic;
      var gia;
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');

      /*제품정보 그리드*/
      const giupData = [];


      const jepoom = new tui.Grid({
         el: document.getElementById('gridpro'),
         data: giupData,
         scrollY: true,
         rowHeaders: ['rowNum'],
         bodyHeight: 300,


         columns: [{
            header: '재료명',
            name: 'ing',
            align: 'center',

         }, {
            header: '칼로리',
            name: 'cal',
            align: 'center',

         }, {
            header: '수량',
            name: 'amount',
            align: 'center',

         }]
      });

      $(function () {
         
                  
         
         $(".thth3").on("keyup", function () {
            var aaa = $(this).val();
            var bbb = $(this).parent().prev().children();
            var ccc = $(this).parent().prev().children().val();
            var zzz = $(this).parent().next().children().val();
            
            
            var ddd = aaa * zzz;
            
            console.log(zzz);
               $(bbb).val(ddd);
               result()
            
         })
         

         function result() {
            
            
               var sum = 0;
            $(".thth2").each(function () {
               sum += Number($(this).val());
            });


            $("#seipSum").val(sum);

         }

         result()





         $(".icon_close").on("click", function () {

            $(this).closest("tr").remove();

            result()
            



         })





         $('.blog__btn').click((e) => {
            jepoom.refreshLayout();
            modal.style.display = "flex";
            body.style.overflow = 'auto';
         })
         const closeBtn = modal.querySelector(".modal_c")
         closeBtn.addEventListener("click", e => {
            modal.style.display = "none";
            body.style.overflow = 'auto';
         })





         /*음식조회*/
         $("#btnbtn").on("click", function () {
            var btnbtn = $('#textex').val();
            console.log(btnbtn);
            $.ajax({
               url: '/diary/flist',
               type: 'GET', // == method
               data: {
                  btnbtn
               },

            }).done(function (response) {
               jepoom.refreshLayout();
               jepoom.resetData(response)
               jepoom.on('click', e => {
                  var rok = e.rowKey
                  gin = jepoom.getRow(rok).ing
                  gic = jepoom.getRow(rok).cal
                  gia = jepoom.getRow(rok).amount

               })
            })



                        $("#modalbtn").off("click").on("click", function () {
               var tbody = $('#tbody1');
			var qqq = $('<input>').val(gia).addClass('thth3').attr('type', 'text').attr('name', 'amount');
               var tr = $('<tr>');
               var th1 = $('<th>').append($('<input>').val(gin).addClass('thth1').attr('type', 'text').attr('name', 'ddname'));
               var th2 = $('<th>').append($('<input>').val(gic).addClass('thth2').attr('type', 'text').attr('name', 'cal'));
               var th3 = $('<th>').append(qqq);
               var thhi = $('<th>').append($('<input>').val(gic).attr('type', 'hidden'));
              qqq.on("keyup", function () {
                  var aaa = $(this).val();
                  var bbb = $(this).parent().prev().children();
                  var ccc = $(this).parent().prev().children().val();
                  var zzz = $(this).parent().next().children().val();
                  
                  
                  var ddd = aaa * zzz;
                  
                  console.log(zzz);
                     $(bbb).val(ddd);
                     result()
                  
               })
                           
               var td4 = $('<td>').addClass('shoping__cart__item__close');
               var button = $('<button>').addClass('icon_close');
               var td5 = $(td4).append(button);
               button.on("click", function () {
                  console.log($(this));
                  $(this).closest("tr").remove();
                  result()
               })
               


               var b = $(tr).append(th1, th2, th3,thhi,td5);

               var d = $(tbody).append(b);

               result()
				modal.style.display = "none";
            	body.style.overflow = 'auto';	
            })



         })


      })

      function diaryde() {
         $("#frm").attr("action", "delete").submit();

      }






   </script>




</body>

</html>