<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>



    <style>
    
    .tftftf{
        overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
    }
    </style>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script>
        
   $(function(){
    var currentDay = new Date();  
var theYear = currentDay.getFullYear();
var theMonth = currentDay.getMonth();
var month = currentDay.getMonth() + 1;
var theDate  = currentDay.getDate();
var theDayOfWeek = currentDay.getDay();
var thisWeek = [];
let today = `${theYear}-${month >= 10 ? month : '0' + month}-${theDate >= 10 ? theDate : '0' + theDate}`;

for(var i=0; i<7; i++) {
var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
var yyyy = resultDay.getFullYear();
var mm = Number(resultDay.getMonth()) + 1;
var dd = resultDay.getDate()+1;
var 
mm = String(mm).length === 1 ? '0' + mm : mm;
dd = String(dd).length === 1 ? '0' + dd : dd;

thisWeek[i] = yyyy + '-' + mm + '-' + dd;
}



var vvv = $(".card-title")
$(".card-title").eq(0).html('asdasd')
var bbb = thisWeek[i];
for(var i=0; i<thisWeek.length; i++){
vvv.eq(i).html(thisWeek[i]);
 
if(today==thisWeek[i]){
vvv.eq(i).html(thisWeek[i]).parent().parent().attr('class','basic-card basic-card-aqua');

}
}




});





    // 결과







    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
      })
    } );
    </script>
</head>

<body>

 <div th:replace="~{fragments/header}"></div>
<div th:replace="~{fragments/aside}"></div>
[[${findDay}]]
[[${jukcal}]]



        <div class="card-category-1 row" style="font-family: 'Cairo', 'Jua', sans-serif;">
        	
            <div class="basic-card basic-card-light m-10" >
                
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn"  class="card-title"></span>
                    
                </div>
    
                <div class="card-link" style="font-family: 'Cairo', 'Jua', sans-serif;">
                    
                    <table>
                              <thead>
                                  <tr>
                                      <th  class="shoping__product">아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              
                              <tr th:if= "${today.dddo == 'aa'} and ${today.dday}=='2'">
                              		  <td  th:text="${today.ddname}" class="shoping__cart__item" >
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <br><br>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price"></td>
                                          
                                      
                                  </tr>
                             </th:block>
                             
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='2'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                  
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}">
                              
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='2'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>

                              </th:block>
                                    
                             
 								<thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='2'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                                  
                               
                          </table>
                    
                </div>
            </div>
            
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>

                <div class="card-link">
                   <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='3'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='3'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='3'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='3'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
            
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='4'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='4'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='4'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody>
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='4'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
           
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                
                    <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='5'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='5'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='5'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                       <td th:text="|${today.cal}kcal|"  class="shoping__cart__price"> </td>
                                          
                                      
                                  </tr>
                             
                             
                              </th:block>
                              <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='5'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
        
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                   <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='6'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='6'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='6'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody>
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='6'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
         
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                   <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='7'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='7'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                         
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='7'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody>
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='7'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
         
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <table>
                              <thead>
                                  <tr>
                                      <th class="shoping__product" >아침</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              
                              <th:block th:each="today:${todaysic}" >
                              
                              <tr th:if="${today.dddo == 'aa'} and ${today.dday}=='1'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >점심</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'bb'} and ${today.dday}=='1'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             </tbody>
                             
                             <thead>
                                  <tr>
                                      <th class="shoping__product" >저녁</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="today:${todaysic}" >
                              <tr th:if="${today.dddo == 'cc'} and ${today.dday}=='1'">
                              <td th:text="${today.ddname}" class="shoping__cart__item" onclick="location.href='write'">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                      <td th:text="|${today.cal}kcal|"  class="shoping__cart__price">
                                          
                                      
                                  </tr>
                             </th:block>
                             <thead>
                                  <tr>
                                  		
                                      <th class="shoping__product" >총 칼로리</th>

                                  </tr>
                              </thead>
                              <tbody class="tftftf">
                              <th:block th:each="result:${resultCal}">
                              <tr th:if="${result.dday=='1'}">
                              <td th:text="|${result.sumcal} kcal|" class="shoping__cart__item">
                                          <img src="img/cart/cart-1.jpg" alt="">
                                          <h5></h5>
                                      </td>
                                                                         
                                      
                                  </tr>
                              
                     		 </th:block>
                             </tbody>
                             </tbody>
                                  
                               
                          </table>
                </div>
            </div>
    
    
            
        </div>
        </div>
    </section>
    <!-- Blog Section End -->
    
    
    <br/>


<div th:replace="~{fragments/footer}"></div>

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>






    // 결과
    <script>

$(".basic-card").on("click",function(){
   		var date = $(this).children().children().html();
  		   		 console.log(date)
  		 
  		 location.href='diary/daysic?date='+date;
   			
   				
             	

				   
   })
    </script>



</body>

</html>