<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>



    <style>
         
    </style>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/mainsic.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  
    <link rel="stylesheet" href="StyleCards.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <script>
        
   $(function(){
    var currentDay = new Date();  
var theYear = currentDay.getFullYear();
var theMonth = currentDay.getMonth();
var month = currentDay.getMonth() + 1;
var theDate  = currentDay.getDate();
var theDayOfWeek = currentDay.getDay();
var thisWeek = [];
let today = `${theYear}-${month >= 10 ? month : '0' + month}-${theDate >= 10 ? theDate : '0' + theDate}`;

for(var i=0; i<7; i++) {
var resultDay = new Date(theYear, theMonth, theDate + (i - theDayOfWeek));
var yyyy = resultDay.getFullYear();
var mm = Number(resultDay.getMonth()) + 1;
var dd = resultDay.getDate();
var 
mm = String(mm).length === 1 ? '0' + mm : mm;
dd = String(dd).length === 1 ? '0' + dd : dd;

thisWeek[i] = yyyy + '-' + mm + '-' + dd;
}



var vvv = $(".card-title")
$(".card-title").eq(0).html('asdasd')
var bbb = thisWeek[i];
for(var i=0; i<thisWeek.length; i++){
vvv.eq(i).html(thisWeek[i]);
 
if(today==thisWeek[i]){
vvv.eq(i).html(thisWeek[i]).parent().parent().attr('class','basic-card basic-card-aqua');

}
}


console.log(vvv[0])







});





    // 결과







    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
      })
    } );
    </script>
</head>

<body>
   <div th:replace="~{fragments/header}"></div>
<div th:replace="~{fragments/aside}"></div>


    <div class="container">

        <table class="table table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th scope="col">아디</th>
            <th scope="col"  style="margin:20px 0">내용</th>
            <th scope="col">a량</th>
            <th scope="col">음식</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
            
            <tr th:each="today:${todaysic}">
                <th th:text="${today.uid}" scope="row"></th>
                <td th:text="${today.ucon}"></td>
                <td th:text="${today.amount}"></td>
                <td th:text="${today.ddname}"></td>
                <td th:text="${today.cal}"></td>
            </tr>
            
        </tbody>
        <div>
            
        </table>
    </div>
   
        <div class="card-category-1 row">
        
            <div class="basic-card basic-card-light m-10">
                
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn"  class="card-title">?</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
    
    
            
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>

                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
            <div class="basic-card basic-card-light">
                <div id="ssuunn" class="card-content">
                    <span id="ssuunn" class="card-title">날짜</span>
                    
                </div>
    
                <div class="card-link">
                    <a href="#" title="Read Full"><span>Read Full</span></a>
                </div>
            </div>
    
    
            
        </div>
    </section>
    <!-- Blog Section End -->
    
    
    <br/>


<div th:replace="~{fragments/footer}"></div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>