<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mainsic.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
    <link rel="stylesheet" href="/StyleCards.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
  prevText: '이전 달',
  nextText: '다음 달',
  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
  showMonthAfterYear: true,
  yearSuffix: '년'
      })
    } );
    </script>
</head>

<body>
  <div th:replace="~{fragments/header}"></div>
<div th:replace="~{fragments/aside}"></div>
        <!-- Shoping Cart Section Begin -->
        
        <section class="shoping-cart spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="shoping__cart__table">
                          <table style="width:600px; margin-left:150px;">
                              <thead>
                                  <tr>
                                      <th></th>
                                      <th>kcal</th>
                                      <th>탄수화물</th>
                                      <th>단백질</th>
                                      <th>지방</th>
                                      <th>수량</th>
                                  </tr>
                              </thead>
                              <tbody>
                              <tr class="detail">
                                  
                                      <td th:text="${rank[0].rname}"class="shoping__cart__total">
                                          
                                         
                                      </td>
                                      <td th:text="${rank[0].cal}" class="shoping__cart__total">
                                          
                                      </td>
                                     
                                      <td th:text="|${rank[0].carb}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[0].prot}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[0].rfat}g|" class="shoping__cart__total">
                                          
                                      </td>
                                       <td th:text="${rank[0].amount}" class="shoping__cart__total">
                                          
                                      </td>

                                  </tr>
                                  <tr class="detail">
                                  
                                      <td th:text="${rank[1].rname}"class="shoping__cart__total">
                                          
                                         
                                      </td>
                                      <td th:text="${rank[1].cal}" class="shoping__cart__total">
                                          
                                      </td>
                                     
                                      <td th:text="|${rank[1].carb}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[1].prot}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[1].rfat}g|" class="shoping__cart__total">
                                          
                                      </td>
                                       <td th:text="${rank[1].amount}" class="shoping__cart__total">
                                          
                                      </td>

                                  </tr>
                                  <tr class="detail">
                                  
                                      <td th:text="${rank[2].rname}"class="shoping__cart__total">
                                          
                                         
                                      </td>
                                      <td th:text="${rank[2].cal}" class="shoping__cart__total">
                                          
                                      </td>
                                     
                                      <td th:text="|${rank[2].carb}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[2].prot}g|" class="shoping__cart__total">
                                          
                                      </td>
                                      <td th:text="|${rank[2].rfat}g|" class="shoping__cart__total">
                                          
                                      </td>
                                       <td th:text="${rank[2].amount}" class="shoping__cart__total">
                                          
                                      </td>

                                  </tr>
                                  

                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
             
               
                 
              </div>
          </div>
      </section>
    <!-- Blog Section End -->
    
    
    <br/>


 <div th:replace="~{fragments/footer}"></div>

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
<script>




	$(function () {

		$(".detail").click(function () {

			var rname = $(this).children().first().html()
			


			location.href='/diary/bestre?rname='+rname;


		})


	})

</script>


</body>

</html>