<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">

<meta charset="UTF-8">
<title>Title</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
	rel="stylesheet">
<!-- Css Styles -->
<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{../css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{../css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{../css/nice-select.css}" type="text/css">
<link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" th:href="@{../css/owl.carousel.min.css}"
	type="text/css">

<link rel="stylesheet" th:href="@{../css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{../css/style.css}" type="text/css">
<link rel="stylesheet" href="../css/mainsic.css" type="text/css">
<link rel="stylesheet" href="../StyleCards.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>


</head>
<body>

</body>
</html>