<!DOCTYPE html>
<html  lang="ko"
       xmlns:th= "http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

   
</head>
<body>

<!-- Header Section Begin -->
<th:block th:fragment="header">
 	
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <div sec:authorize="isAnonymous()" class="header__top__right" id="menu_anonymous">
                        <div class="header__top__right__auth" style="font-family: 'Jua'">
                            <a href="loginForm" style="float: right; margin : 0 0 0 10px"><i class="fa fa-user" ></i>Login</a>
                            <a href="#" style="float: right; margin : 0 10px">아이디 찾기</a>
                            <a href="#" style="float: right; margin : 0 10px">비밀번호 찾기</a>
                            <a href="registerIdForm1" style="float: right; margin : 0 10px">회원 가입</a>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="header__top__right" id="menu_authenticated">
                        <div class="header__top__right__auth" style="font-family: 'Jua'">
                            <a href="logout" style="float: right; margin : 0 0 0 10px" id="logout"><i class="fa fa-user" ></i>Logout</a>
                            <a href="#" style="float: right; margin : 0 10px">#{nick} 님, 반갑습니다!</a>
                            <a href="mypage" style="float: right; margin : 0 10px">내정보</a>
                            <a href="adminpage" style="float: right; margin : 0 10px">관리자정보</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/main"><img src="../img/로고.PNG" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <nav class="header__menu">
                    <div class = "text-right">
                        <ul style="font-family: 'Jua'; margin: 80px 0 0 0;">
                            <!-- <li class="active"><a href="./index.html">식단일지</a></li> -->
                             <li><a href="/sicmain">식단일지</a>
                             <ul class="header__menu__dropdown">
                                    <li><a href="/todaysic">오늘의 식단</a></li>
                                    <li><a href="/weekwrite">식단일지 작성</a></li>
                                    <li><a href="/myre">나만의 레시피</a></li>
                                    <li><a href="/weeklybest">이주의 음식</a></li>
                                </ul>
                            <li><a href="/challenge">챌린지</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/challenge">챌린지 목록</a></li>
                                    <li><a href="/challenging">진행중인 챌린지</a></li>
                                    <li><a href="/challengeEnd">완료한 챌린지</a></li>
                                </ul>
                            </li>
                            <li><a href="/food">음식정보</a></li>
                            <li><a href="./blog.html">커뮤니티</a></li>
                            <li>
                                <a href="/FAQ">고객센터</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/Inquiry">1:1 문의</a></li>
                                    <li><a href="/FAQ">FAQ</a></li>
                                    <li><a href="/Notice">공지사항</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
 <script th:inline="javascript">
 	
        // 동적으로 만들어진 버튼의 이벤트 처리를 하려면 선택자를 2개 주어야 한다. -> $(넓은 선택자).on("이벤트 이름", "실제 선택자", function())
        $("#menu_authenticated").on("click", "#logout", (e)=> {
            
            e.preventDefault();
            var choice = confirm('로그아웃하시겠습니까?');
            if(choice==false)
                return;
          	else if(choice ==true)
          	return "/main";
        });	
    </script>
</body>

</th:block>
</html>