<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
    <section class="breadcrumb-section set-bg" data-setbg="/img/questionPixabay.jpg">
        <div class="container" style="font-family: 'Jua','Cairo',  sans-serif">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <a href="/Inquiry"><h3 style="font-family: 'Cairo', 'Jua', sans-serif;">문의 내역</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-lg-4">
            <div class="contact__form__title"
                 style="margin: 50px 0 0 0; font-family: 'Cairo', 'Jua', sans-serif; width: 200px">
                <h3 style="font-family: 'Cairo', 'Jua', sans-serif">상세 내역</h3>
            </div>
        </div>
    </div>
    <div class="container" style="font-family: 'Jua','Cairo',  sans-serif; padding-top: 50px; margin-bottom: 100px">
        <div class="col-lg-4">
        <table style="margin-left:50px; width:1000px; border: 4px solid #d1ecf1;  ">
            <tbody id="MyinquiryList" th:each="list:${list}">
            <div th:if="${#lists.size(list)>0}">
                <tr style="border-bottom: 4px solid #d1ecf1">
                    <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">작성자</th>
                    <td>[[${list.nick}]]</td>
                </tr>
                <tr style="border-bottom: 4px solid #d1ecf1">
                    <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">제목</th>
                    <td>[[${list.qtitle}]]</td>
                </tr>
                <tr style="border-bottom: 4px solid #d1ecf1">
                    <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">작성 날짜</th>
                    <td>[[${list.qdate}]]</td>
                </tr>
                <tr style="border-bottom: 4px solid #d1ecf1">
                    <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">질문 유형</th>
                    <td>[[${list.C0}]]</td>
                </tr>
                <tr style="border-bottom: 4px solid #d1ecf1">
                    <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">내용</th>
                    <td>
                        <textarea
                                style="width: 800px; height: 300px; resize: none; text-align: left;"
                                readonly>[[${list.qcon}]]</textarea>
                    </td>
                </tr>
            </div>
            <div th:if="${#lists.size(list)==null}">
                <p style="font-family: 'Cairo', 'Jua', sans-serif">해당하는 내용이 없습니다.</p>
            </div>
            </tbody>
        </table>
        </div>
        <div class="col-lg-12" th:if="${list[0].mid} eq ${username} and ${list[0].a0 == 'a0'}" style="display: inline-block; margin-top: 50px">
            <form action="/Inquiry/modify" method="post" style="width: 100px; float: right; margin-right: 40px">
                <button type="submit" style="width: 80px; height: 40px; border-radius: 10px;
                 font-family:  'Jua','Cairo', sans-serif; background-color:  #d1ecf1" >수정</button>
                <input type="hidden" name="nick" th:value="${list[0].nick}">
                <input type="hidden" name="qtitle" th:value="${list[0].qtitle}">
                <input type="hidden" name="qcon" th:value="${list[0].qcon}">
                <input type="hidden" name="C0" th:value="${list[0].c0}">
                <input type="hidden" name="mid" th:value="${list[0].mid}">
                <input type="hidden" name="qno" th:value="${list[0].qno}">
            </form>
            <form action="/Inquiry/delete" method="post" style="width: 100px; float: right">
                <button type="submit" style="width: 80px; height: 40px; border-radius: 10px;
                 font-family:  'Jua','Cairo', sans-serif; background-color:  #d1ecf1">삭제</button>
                <input type="hidden" name="nick" th:value="${list[0].nick}">
                <input type="hidden" name="qtitle" th:value="${list[0].qtitle}">
                <input type="hidden" name="qcon" th:value="${list[0].qcon}">
                <input type="hidden" name="C0" th:value="${list[0].c0}">
                <input type="hidden" name="mid" th:value="${list[0].mid}">
                <input type="hidden" name="qno" th:value="${list[0].qno}">
            </form>
        </div>

        <!-- 답변하지 않았을 때 -->


        <div th:if="${u0} == 'u0' and ${list[0].a0 == 'a0'}" style="padding-left: 15px">
            <h3 style="font-family: 'Cairo', 'Jua', sans-serif; padding: 70px 0 30px 0 ">관리자 답변 창</h3>
            <form action="/Inquiry/inqResult" method="post">
                <table style="margin-left:50px; width:1000px; border: 4px solid #d1ecf1;">
                    <tbody  th:each="list:${list}">
                    <div th:if="${#lists.size(list)>0}">
                        <tr style="border-bottom: 4px solid #d1ecf1">
                            <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">제목</th>
                            <td>
                                <input style="width: 800px;" name="qanst" type="text" placeholder="제목을 입력하세요">
                            </td>
                        </tr>
                        <tr style="border-bottom: 4px solid #d1ecf1">
                            <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">내용</th>
                            <td>
                                <textarea name="qans"
                                        style="width: 800px; height: 300px; resize: none; text-align: left;" placeholder="내용을 입력하세요"></textarea>
                            </td>
                        </tr>
                    </div>
                    <div th:if="${#lists.size(list)==null}">
                        <p style="font-family: 'Cairo', 'Jua', sans-serif">해당하는 내용이 없습니다.</p>
                    </div>
                    </tbody>
                </table>
                <input type="hidden" name="a0" value="a1">
                <input type="hidden" name="qno" th:value="${list[0].qno}">
                <input type="hidden" name="nick" th:value="${list[0].nick}">
                <button type="submit"
                        style="width: 80px; height: 40px;
                        text-align:center; border-radius: 5px;  margin-bottom: 50px; float: right; margin-right: 80px; margin-top:50px;
                        background-color:#d1ecf1">
                    등록
                </button>
            </form>
        </div>

        <!-- 답변했을 때 -->
        <div th:if="${u0} == 'u0' and ${list[0].a0 == 'a1'}" style="padding-left: 15px">
            <h3 style="font-family: 'Cairo', 'Jua', sans-serif; padding: 70px 0 30px 0 ">관리자 답변 창</h3>
                <table style="margin-left:50px; width:1000px; border: 4px solid #d1ecf1;">
                    <tbody  th:each="list:${list}">
                    <div th:if="${#lists.size(list)>0}">
                        <tr style="border-bottom: 4px solid #d1ecf1">
                            <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">제목</th>
                            <td>
                                <input name="qanst" type="text" style="width: 800px" th:value="${list.qanst}" readonly>
                            </td>
                        </tr>
                        <tr style="border-bottom: 4px solid #d1ecf1">
                            <th style="text-align: center; width:250px; background-color: #f1f8ff ;height: 60px; border-right: 4px solid #d1ecf1">내용</th>
                            <td>
                                <textarea name="qans"
                                          style="width: 800px; height: 300px; resize: none; text-align: left; color: #000000" th:text="${list.qans}" readonly></textarea>
                            </td>
                        </tr>
                    </div>
                    <div th:if="${#lists.size(list)==null}">
                        <p style="font-family: 'Cairo', 'Jua', sans-serif">해당하는 내용이 없습니다.</p>
                    </div>
                    </tbody>
                </table>

        </div>
    </div>
</th:block>
</body>

</html>