<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
</head>

<body>
<th:block layout:fragment="content">

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__option" style="font-family: 'Cairo', 'Jua', sans-serif">
                            <h2>FAQ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div>
            <h2 style="margin: 0 0 0 370px; font-family: 'Cairo', 'Jua', sans-serif">자주 나오는 질문들</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget"
                         style="border: 1px solid #a0aec0 ;margin:20px 0; width: 280px; padding : 20px 10px; border-radius: 15px">
                        <h4>01</h4>
                        <a href=""><p>등록된 음식이 나오지 않아요.</p></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget"
                         style="border: 1px solid #a0aec0;margin:20px 0; width: 280px;  padding : 20px 10px; border-radius: 15px">
                        <h4>02</h4>
                        <a href=""><p>제한된 계정이라고 나와요.</p></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget"
                         style="border: 1px solid #a0aec0;margin:20px 0; width: 280px;  padding : 20px 10px; border-radius: 15px">
                        <h4>03</h4>
                        <a href=""><p>비밀번호를 잊었어요.</p></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget"
                         style="border: 1px solid #a0aec0;margin:20px 0; width: 280px;  padding : 20px 10px; border-radius: 15px">
                        <h4>04</h4>
                        <a href=""><p>식단일지 작성이 안돼요.</p></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <div class="container">
<!--        <table class="table table-hover" style="text-align: center; margin: 100px 0 300px 0">-->
<!--            <div class="d-flex flex-row-reverse col-lg-12 ">-->

<!--            </div>-->
<!--        </table>-->
        <table class="table table-hover" style="text-align: center; margin: 100px 0 300px 0; font-family: 'Cairo', 'Jua', sans-serif">
            <thead>
            <tr>
                <form action="/FAQList" name="FAQ-form" style="border-spacing:0px">
                <th>
                    <div class="p-2 border"><input type="button" onclick="FAQList('q0')" value="챌린지 문의" id="chbtn"
                                                   style=" background-color: #ffffff; width: 200px"></div>
                </th>
                <th>
                    <div class="p-2 border"><input type="button" onclick="FAQList('q1')" value="일지 문의" id="dibtn"
                                                   style=" background-color: #ffffff; width: 200px"></div>
                </th>
                <th>
                    <div class="p-2 border"><input type="button" onclick="FAQList('q2')" value="음식검색 문의" id="sebtn"
                                                   style=" background-color: #ffffff; width: 200px"></div>
                </th>
                <th>
                    <div class="p-2 border"><input type="button" onclick="FAQList('q3')" value="신고 문의" id="rebtn"
                                                   style="background-color: #ffffff; width: 200px"></div>
                </th>
                <th>
                    <div class="p-2 border"><input type="button" onclick="FAQList('q4')" value="일반 문의" id="etbtn"
                                                   style=" background-color: #ffffff; width: 200px"></div>
                </th>
                </form>
            </tr>
            <tr>
                <th scope="col" colspan="2" style="margin:20px 0">제목</th>
                <th scope="col" colspan="3">내용</th>
            </tr>
            </thead>
            <tbody id='FAQTable'>

            </tbody>
        </table>
    </div>
    <script>
        function FAQList(q0) {
            $.ajax({
                type: 'GET',
                url: "/FAQList",
                data: {q0},
                success: function (result) {
                    //테이블 초기화
                    $('#FAQTable').empty();
                    if (result.length >= 1) {
                        result.forEach(function (lists) {
                            str = '<tr>'
                            str += "<td colspan='2'>" + lists.faqTitle + "</td>";
                            str += "<td colspan='3'>" + lists.faqCon + "</td>";
                            str += "</tr>"
                            $('#FAQTable').append(str);
                        })
                    }
                }
            })
            // fetch("/FAQList",{
            //     method : "GET"
            // }).then(response =>{
            //
            // })
        }
    </script>
</th:block>
</body>

</html>