<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/questionPixabay.jpg">
        <div class="container" style="font-family:  'Jua','Cairo', sans-serif">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <a href="/Inquiry"><h3 style="font-family: 'Cairo', 'Jua', sans-serif;">문의 내역</h3>
                            <div class="breadcrumb__option">
                                <span>Algomokgo</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-lg-4">
            <div class="contact__form__title" style="margin: 50px 0 0 0; font-family:  'Jua', 'Cairo',sans-serif; width: 200px">
                <h3  style="font-family:  'Jua', 'Cairo',sans-serif">고객 센터</h3>
                <sub style="padding: 10px 0 50px 25px">만족스런 답변을 위해 노력하겠습니다.</sub>
            </div>
        </div>
    </div>

    <div class="container" style="font-family:  'Jua', 'Cairo',sans-serif; padding-top: 50px">
        <table class="table table-hover" style="text-align: center">
            <thead>
            <th>작성자</th>
            <th>문의 제목</th>
            <th>답변 상태</th>
            <th>날짜</th>
            <th></th>
            </thead>
            <div th:each="InqList:${InqList}">
                <div th:if="${#lists.size(InqList)>0}">
                    <tbody>
                    <tr>
                        <td>[[${InqList.nick}]]</td>
                        <td>[[${InqList.qtitle}]]</td>
                        <td>[[${InqList.A0}]]</td>
                        <td>[[${InqList.qdate}]]</td>
                        <td th:value="${InqList.nick}">
                            <form action="/Inquiry/detail" method="post">
                                <input type="hidden" th:value="${InqList.mid}" name = "mid">
                                <input type="hidden" th:value="${InqList.qno}" name = "qno">
                                <button type="submit" style="line-height: 100%">이동</button>
                            </form>
<!--                            <a th:href="@{/Inquiry/detail(mid=${InqList.mid} ,qno=${InqList.qno})}"-->
<!--                               style="line-height: 100%">이동</a>-->
                        </td>
                    </tr>
                    </tbody>
                </div>
                <div th:if="${#lists.size(InqList)==null}">
                    <td colspan="4">조회된 결과가 없습니다.</td>
                </div>

            </div>
        </table>
    </div>

    <!-- Shoping Cart Section End -->
    <div class="form-group" style="text-align: right">
        <div class="container" style="margin-top: 40px">
            <div class="paginate">
                <div class="paging" style="text-align: center">
                    <!-- 이전 페이지 이동 버튼 생성 -->

                    <!-- hasPreviousPage의 값을 통해, 이전 페이지가 있을 때 해당하는 버튼이 생성되도록 함. -->
                    <!-- 1 page의 경우, 이전 페이지가 존재하지 않으므로 이전 페이지로 넘어가는 버튼이 생성되지 않음. -->

                    <!-- 이전 페이지가 있는 경우 -->
                    <div th:if="${pagination.hasPreviousPage == true}" style="display: inline-block; margin: 0 10px">
                        <a class="direction prev" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${1},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angles-left-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <div th:if="${pagination.hasPreviousPage == true}" style="display: inline-block; margin: 0 10px">
                        <a class="direction prev" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.currentPage-1},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angle-left-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <!-- 이전 페이지가 없는 경우 -->
                    <div th:if="${pagination.hasPreviousPage == false}" style=" display: inline-block; margin: 0 10px">
                        <a class="direction prev" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${1},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angles-left-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <div th:if="${pagination.hasPreviousPage == false}" style=" display: inline-block; margin: 0 10px">
                        <a class="direction prev" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.currentPage},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angle-left-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>


                    <!-- 페이지 숫자 번호 출력 -->
                    <div th:each="idx:${#numbers.sequence(pagination.firstPage, pagination.lastPage)}"
                         style="display: inline-block; margin: 0 10px">
                        <a style="color: #cc0000; font-weight:700; margin-bottom: 2px; "
                           href="javascript:void(0)"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${idx},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|"
                            th:value="${idx}">
                            [[${idx}]]
                        </a>
                    </div>
                    <!-- 다음 페이지 이동 있을 시 -->
                    <div th:if="${pagination.hasNextPage == true}" style="display: inline-block; margin: 0 10px">
                        <a class="direction next" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.currentPage+1},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angle-right-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <!-- CSS적 요소를 위해 위와 분리함. -->
                    <div th:if="${pagination.hasNextPage == true}" style=" display: inline-block; margin: 0 10px">
                        <a class="direction next" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.totalRecordCount},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angles-right-solid.svg" style="width: 15px; height: 15px"></a>
                    </div>

                    <!-- 다음 페이지 이동 없을 시 -->
                    <div th:if="${pagination.hasNextPage == false}" style=" display: inline-block; margin: 0 10px">
                        <a class="direction next" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.totalRecordCount},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angle-right-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <div th:if="${pagination.hasNextPage == false}" style=" display: inline-block; margin: 0 10px">
                        <a class="direction next" href="javascript:void(0);"
                           th:onclick="|location.href='@{/Inquiry(currentPage=${pagination.totalRecordCount},cntPerPage=${pagination.cntPerPage},pageSize=${pagination.pageSize},type=${pagination.type})}'|">
                            <img src="/img/angles-right-solid.svg" style="width: 15px; height: 15px">
                        </a>
                    </div>
                    <!-- /paginate -->
                </div>
            </div>
            <!-- 몇 개씩 화면에 출력할 것인지 선택 -->
            <div class="bottom">
                <div class="bottom-left">
                    <select id="cntSelectBox" name="cntSelectBox"
                            class="form-control" style="width: 100px; font-family:  'Jua','Cairo', sans-serif"
                            th:onchange="|changeSelectBox(${pagination.currentPage},${pagination.cntPerPage},${pagination.pageSize})|">
                        <option value="10">10개씩</option>
                        <option value="20">20개씩</option>
                        <option value="30">30개씩</option>
                    </select>
                </div>
            </div>

            <a href="/Inquiry/writeInquiry">
                <button type="button"  style="text-align: right; margin-bottom: 100px; width: 74px;
                 height: 40px; border-radius: 8px; background-color: #ff3222;
                font-family:  'Jua','Cairo', sans-serif; text-align: center;
                margin-right: 20px; color: #ffffff">글쓰기
                </button>
            </a>
        </div>
    </div>
    <script>
        //10,20,30개씩 selectBox 클릭 이벤트
        function changeSelectBox(currentPage, cntPerPage, pageSize) {
            var selectValue = $("#cntSelectBox").children("option:selected").val();
            movePage(currentPage, selectValue, pageSize, null, null);

        }

        function movePage(currentPage, cntPerPage, pageSize, type, keyword) {
            var url = "/Inquiry";
            url = url + "?currentPage=" + currentPage;
            url = url + "&cntPerPage=" + cntPerPage;
            url = url + "&pageSize=" + pageSize;
            url = url + "&type=" + type;
            url = url + "&keyword=" + keyword;
            console.log(url);
            location.href = url;
        }

    </script>
</th:block>
</body>

</html>