<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
</head>

<body>
<th:block layout:fragment="content">

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/questionPixabay.jpg">
        <div class="container" style="font-family: 'Cairo', 'Jua', sans-serif">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <a href="/Inquiry"><h2  style="font-family: 'Cairo', 'Jua', sans-serif">1:1 문의</h2>
                            <div class="breadcrumb__option">
                                <span >Algomokgo</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <div class="container">
        <form action="/Inquiry/insert" method="get">
        <table class="table table-hover" style="text-align: center; margin: 100px 0 300px 0; border: 1px solid">
            <tr>
                <th scope="col">글번호</th>
                <td><input type="text" th:value="${searchNo[0].qno}" style="width: 600px;" name="qno" readonly></td>
            </tr>
            <tr>
                <th scope="col">제목</th>
                <td><input type="text" name="title" style="width: 600px;">
                </td>
            </tr>
            <tr>
                <th scope="col">내용</th>
                <td><textarea style="width: 600px; height : 300px; resize: none" name="content"></textarea>
                </td>
            </tr>
        </table>
            <select name = "option" value="c0">
                <option value = "c0">챌린지 문의</option>
                <option value = "c1">일지 문의</option>
                <option value = "c2">음식 문의</option>
                <option value = "c3">신고 문의</option>
                <option value = "c4">일반 문의</option>
            </select>
            <button type="submit" value="등록">등록</button>
        </form>
    </div>
</th:block>
</body>

</html>