<!DOCTYPE html>
<html lang="ko" xmlns:th= "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

   
</head>

<body>
    <th:block layout:fragment="content">
	
        <!--회원 목록 body-->
       <!-- Breadcrumb Section Begin -->
       <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text" >
                        <h2 style="font-family: 'Jua'">회원 정보 수정</h2>
                        <div class="breadcrumb__option">
                            
                            <span style="font-family: 'Jua';">자신의 정보를 수정하는 페이지입니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- 회원 정보 Begin -->
    
    <section class="product spad" style="font-family: 'Jua';">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-5">
                <!-- menu bar Begin -->
                  <div class="sidebar" >
                      <div class="sidebar__item" style="background-color:#f5f5f5; height :600px;">
                          <h4>my Page</h4>
                          <ul style="margin: 0 0 0 20px;">
                            <li ><a href="myPage">회원 정보</a></li>
	                        <li><a href="insertMyPage">- 정보 수정</a></li>                                                
	                        <li><a href="">보안 설정</a></li>
	                        <li><a href="myPageSecurityInsertPW">- 비밀번호 변경</a></li>
	                        <li><a href="myPageSecurityDeleteId">- 회원 탈퇴</a></li>
                          </ul>
                      </div>
                  </div>
                  <!-- menu bar end -->
          </div>
          <div class="col-lg-9 col-md-7">
            <div class="product__discount">
                <div class="section-title product__discount__title"  style="border-bottom: 2px solid; padding-bottom:10px ;">
                    <h3 style="font-family: 'Jua';">내 정보</h3>
                </div>
                회원 정보
                <form id="insertMyPage_form" method="post" action="/insertMyPage">
                  <table>
                      <tr style="border-top: 1px solid;">
                          <th style="padding:  15px 300px 15px 0; ">아이디</th>
	                          <td  style="padding:  0 300px 0 0;">
	                          	<input  th:value = "${#authentication.principal.mid}" id="mid" name="mid" readonly>
	                          </td>
                        </tr >
                        <tr style="border-top: 1px solid;">
                          <th  style="padding:  15px 300px 15px 0; ">닉네임</th>
	                          <td style="padding:  0 300px 0 0;">
		                          <input th:value = "${#authentication.principal.nick}" type="text" id="nick" name="nick"  readonly>
		                          <span id="nick_msg"></span>
	                          </td>
                        </tr>
                        <tr style="border-top: 1px solid; border-bottom: 1px solid;">
                          <th style="padding:  15px 300px 15px 0; ">생년월일</th>
	                          <td style="padding:  0 300px 0 0;">
		                          <input style="border-radius: 10px; border: 1px solid;" th:value = "${#strings.substring(#authentication.principal.birth,0,10)}" type="birth" id="birth" name="birth">
		                          <span id="birth_msg"></span>
	                          </td>
                        </tr>
                    </table>
                    <br><br><br><br>
                    체중 정보
                    <table>
                      <tr style="border-top: 1px solid;">
                        <th style="padding:  15px 300px 15px 0; ">키</th>
	                        <td style="padding:  0 330px 0 0;">
		                        <input style="border-radius: 10px; border: 1px solid;" th:value = "${#authentication.principal.height}" type="text" id="height" name="height">
		                        <span id="height_msg"></span>
                        	</td>
                      </tr>
                      <tr style="border-top: 1px solid;">
                        <th style="padding:  15px 300px 15px 0; ">몸무게</th>
	                        <td style="padding:  0 330px 0 0;">
		                        <input style="border-radius: 10px; border: 1px solid;" th:value = "${#authentication.principal.weight}" type="text" id="weight" name="weight">
		                        <span id="weight_msg"></span>
                       		</td>
                      </tr>
                      <tr style="border-top: 1px solid;">
                        <th style="padding:  15px 300px 15px 0; ">목표체중</th>
	                        <td style="padding:  0 330px 0 0;">
	                        <input style="border-radius: 10px; border: 1px solid;" th:value = "${#authentication.principal.tweight}" type="text" id="tweight" name="tweight">
                        </td>
                      </tr>
                      <tr style="border-top: 1px solid; border-bottom: 1px solid;">
                        <th style="padding:  15px 300px 15px 0; ">기초 대사량</th>
	                        <td style="padding:  0 330px 0 0;">
	                        <input th:value = "${#authentication.principal.tcal}" type="text" id="tcal" name="tcal" readonly>
	                        <span id="tcal_msg"></span>
                        </td>
                      </tr>
                      <tr style="border-top: 1px solid; border-bottom: 1px solid;">
                        <th style="padding:  15px 300px 15px 0; ">BMI</th>
	                        <td style="padding:  0 330px 0 0;">
	                        <input th:value = "${#authentication.principal.bmi}" type="text" id="bmi" name="bmi" readonly>
	                        <span id="bmi_msg"></span>
                        </td>
                      </tr>
                </table>
                </form>
            </div>
            <input th:value = "${#authentication.principal.sex}" type="text" id="sex" name="sex" readonly style="display: none;">
            <input type = "button" id="checkHealth" value = "계산하기" style="margin-left:770px; width: 80px; height: 30px; margin-bottom:50px;">
            <br>
            <input type = "button" id="nextBtn" value = "수정하기" style="margin-left:770px; width: 80px; height: 30px;">
              
             
          </div>
      </div>
  </div>
</section>
<!-- Product Section End -->
<script type="text/javascript">
	  $(document).ready(function() {          
            $('#birth').focusout(birthCheck);           
            $('#height').focusout(heightCheck);
            $('#weight').focusout(weightCheck);
      $('#nextBtn').click(function() {  
      	 bmrCheck();
         bmiCheck();
      if ((birthCheck() && heightCheck() && weightCheck()) == false)
                   
        return alert="입력값을 확인해 주세요";
        
        $.ajax("/insertMyPage")
       	 	.done(()=>{ $('#insertMyPage_form').submit();
        		alert ("회원정보 변경이 완료되었습니다.");    
        }).fail(()=>alert ("입력값을 확인해 주세요"))
       })     
	})
	
	 $('#checkHealth').click(function(){
            bmrCheck();
            bmiCheck();
        })

        //bmr 계산
        function bmrCheck(){
            var h = document.getElementById('height').value;
            var w = document.getElementById('weight').value;
            var b = document.getElementById('birth').value;
            var s = document.getElementById('sex').value;

            var age = calcAge(b);
            if(s=='female'){
                var r1 =655.1 + (9.56 * w ) + (1.85 * h) - (4.68 * age)
                var bmr1 = Math.round(r1);
                return $('#tcal').val(bmr1)
                //결과 뿌려주기
            }else{
                var r2 = 66.47 + (13.75 * w) + (5 * h) - (6.76 * age)
                Math.round(r2);
                var bmr2 = Math.round(r2)
                return $('#tcal').val(bmr2)
            }
        }
        //bmr 계산 기능 끝

        //생년월일 --> 나이(숫자)변환
        function calcAge(b) {
            var date = new Date();
            var year = date.getFullYear();
            var month = (date.getMonth() + 1);
            var day = date.getDate();
            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;
            var monthDay = month + day;
            b = b.replace('-', '').replace('-', '');
            var birthdayy = b.substr(0, 4);
            var birthdaymd = b.substr(4, 4);
            var age = monthDay < birthdaymd ? year - birthdayy - 1 : year - birthdayy;

            return age;
        }

        // bmi 계산
        function bmiCheck(){
            var h = document.getElementById('height').value;
            var w = document.getElementById('weight').value;
            var r = w / ((h / 100) * (h / 100)) ;

            if (r>30){
                var bmi1 = Math.round(r);
                $("#bmi").val(bmi1);
                return $("#bmi_msg").text("당신의 현재 BMI는 비만입니다");
            }else if ((r>25.0)&&(r<=29.9)){
                var bmi1 = Math.round(r);
                $("#bmi").val(bmi1);
                return $("#bmi_msg").text("당신의 현재 BMI는 과제중입니다");
            }else if ((r>18.5)&&(r<=24.9)){
                var bmi1 = Math.round(r);
                $("#bmi").val(bmi1);
                return $("#bmi_msg").text("당신의 현재 BMI는 정상입니다");
            }else if (r<=18.5){
                var bmi1 = Math.round(r);
                $("#bmi").val(bmi1);
                return $("#bmi_msg").text("당신의 현재 BMI는 저체중입니다");
            }
        }
	
	</script>

</th:block>


</body>

</html>