<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

   
</head>

<body>
<th:block layout:fragment="content">

  



<!--회원 목록 body-->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb__text" style="font-family: 'Jua'">
                <h2 style="font-family: 'Jua'">회원 목록</h2>
                <div class="breadcrumb__option">
                    <a href="./index.html">마이페이지</a>
                    <span>자신의 정보를 확인 가능합니다.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad" style="font-family: 'Jua';">
<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-5">
        <!-- menu bar Begin -->
          <div class="sidebar" >
              <div class="sidebar__item" style="background-color:#f5f5f5; height :600px;">
                  <h4>my Page</h4>
                  <ul style="margin: 0 0 0 20px;">
                    <li ><a href="myPage">회원 정보</a></li>
	                        <li><a href="insertMyPage">- 정보 수정</a></li>                                                
	                        <li><a href="">활동 내역(삭제예정)</a></li>
	                        <li><a href="">보안 설정</a></li>
	                        <li><a href="myPageSecurityInsertPW">- 비밀번호 변경</a></li>
	                        <li><a href="myPageSecurityDeleteId">- 회원 탈퇴</a></li>
                  </ul>
              </div>
          </div>
          <!-- menu bar end -->
          </div>
          <div class="col-lg-9 col-md-7">
            <h3 style="border-bottom: 2px solid; font-family: 'Jua';">비밀번호 변경</h3>
            <div>
              <table style="margin: 60px 0 0 60px; ">
                <tr>
                    <th>새 비밀번호 :</th>
                    <td><input type = "password" style = "width: 400px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="8자 이상의 문자, 숫자, 특수문자를 입력하세요"></td>
                </tr>
                <tr>
                    <th>새 비밀번호 확인: </th>
                    <td><input type = "password" style = "width: 400px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="8자 이상의 문자, 숫자, 특수문자를 입력하세요"></td>
                    <!--pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_-+=[]{}~?:;`|/]).{8,50}$"  : 8자 이상의 문자, 숫자 정규식-->
                </tr>
                <tr>
                    <th>아이디 :</th>
                    <td><input type = "text" style = "width: 400px; border-radius: 10px;
                     border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="이메일 형식으로 입력하세요"> <input type = "button" value ="발송" style="width: 80px; height:30px; "></td>
                </tr>
                <tr>
                    <th>인증번호</th>
                    <td style="border:none"><input type = "text"  style = "width: 200px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="인증 번호를 입력하세요"></td>
                </tr>
                </table>
                <button type="submit" style="float:right; background-color: #f5f5f5; width: 100px; height: 30px;">비밀번호 변경</button>
            </div>
          </div>
      </div>
    </div>
    </section>
    <script>
  function search_check(num) {
		if (num == '1') {
			document.getElementById("searchP").style.display = "none";
			document.getElementById("searchI").style.display = "";	
		} else {
			document.getElementById("searchI").style.display = "none";
			document.getElementById("searchP").style.display = "";
		}
	}
  </script> 
<!-- Product Section End -->
</th:block>
</body>

</html>