<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

   
</head>

<body>
<th:block layout:fragment="content">

  



<!--회원 목록 body-->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb__text" style="font-family: 'Jua'">
                <h2 style="font-family: 'Jua'">비밀번호 변경</h2>
                <div class="breadcrumb__option">
                    <span>비밀 번호를 변경합니다.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad" style="font-family: 'Jua';">
<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-5">
        <!-- menu bar Begin -->
          <div class="sidebar" >
              <div class="sidebar__item" style="background-color:#f5f5f5; height :600px;">
                  <h4>my Page</h4>
                  <ul style="margin: 0 0 0 20px;">
                    <li ><a href="myPage">회원 정보</a></li>
	                        <li><a href="insertMyPage">- 정보 수정</a></li>                                                
	                        <li><a href="">보안 설정</a></li>
	                        <li><a href="myPageSecurityInsertPW">- 비밀번호 변경</a></li>
	                        <li><a href="myPageSecurityDeleteId">- 회원 탈퇴</a></li>
                  </ul>
              </div>
          </div>
          <!-- menu bar end -->
          </div>
          <div class="col-lg-9 col-md-7">
            <h3 style="border-bottom: 2px solid; font-family: 'Jua';">비밀번호 변경</h3>
            <div>
            <form id="insertPw_form" method="post" action="/InsertPw">
              <table style="margin: 60px 0 0 60px; ">
              	<tr>
                    <th>비밀번호 확인 :</th>
                    <td><input id="insertmpwcheck" name="insertmpwcheck" type = "password" style = "width: 400px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="현재 비밀번호와 일치 해야합니다."></td>
                        <span id="insertmpwcheck_msg"></span>
                       <button id="insertmpw" name="insertmpw" onclick="" type="" style="float:right; background-color: #f5f5f5; width: 100px; height: 30px;">비밀번호 확인</button> 
                </tr>
                <tr>
                    <th>새 비밀번호 :</th>
                    <td><input id="mpw" name="mpw" type = "password" style = "width: 400px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="8자 이상의 문자, 숫자, 특수문자를 입력하세요"></td>
                        <span id="mpw_msg"></span>
                </tr>
                <tr>
                    <th>새 비밀번호 확인: </th>
                    <td><input id="mpw2" name="mpw2" type = "password" style = "width: 400px; border-radius: 10px;
                        border: 1px solid; height: 30px; margin: 10px 0 10px 0 ;" placeholder="8자 이상의 문자, 숫자, 특수문자를 입력하세요"></td>
                        <span id="mpw2_msg"></span>
                    <!--pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_-+=[]{}~?:;`|/]).{8,50}$"  : 8자 이상의 문자, 숫자 정규식-->
                </tr>
                </table>
                <button id="insert" name="insert" type="submit" style="float:right; background-color: #f5f5f5; width: 100px; height: 30px;">비밀번호 변경</button>
                </form>
            </div>
          </div>
      </div>
    </div>
    </section>
    <script>
     $(document).ready(function() {
     
     
     	 $('#mpw').focusout(function() {
                // 기존 비밀번호를 입력하지 않았거나, 패턴을 통과하지 못했다면 작업 중단
                if (mpwCheck() == false)
                    return alert('비밀번호를 다시 입력하세요');
                // 서버로 ajax 전송, GET 방식일 때는 파라미터를 포함한 주소만 적어도 된다.
                $.ajax("/myPageSecurityInsertPW/pw_check?mpw=" + $("#mpwcheck").val())
                    .done(()=>$("#mpwcheck_msg").text("비밀번호 확인이 완료 되었습니다.").attr("class", "success"))
                    .fail(()=>$("#mpwcheck_msg").text("틀린 비밀번호 입니다.").attr("class", "fail"));
            });
            
            
     		$('#mpw').focusout(mpwCheck);
            $('#mpw2').focusout(mpw2Check);
            
            
            
            //먼저, 현재 비밀번호를 확인
            $('#insertmpw').click(function() {
               
                $.ajax("myPageSecurityInsertPW/pw_check?mpw=" + $('#mpwcheck').val())
                    .done(() => { $('insertmpwcheck_msg').text("비밀번호가 일치합니다").attr('class', 'success');
                        
                    })
                    .fail(() => {$('insertmpwcheck_msg').text("비밀번호가 일치하지 않습니다").attr('class', 'fail');
           		 })  
     	   })
     	   
	  $('#insert').click(function(e){
	  	e.preventDefault();
	  
	  })
	   function mpwcheck(){
	   
	   }
})
  </script> 
<!-- Product Section End -->
</th:block>
</body>
</html>