<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<div th:replace="~{fragments/header}"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		data-setbg="img/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<a href="food">
							<h2>음식</h2>
						</a>
						<div class="breadcrumb__option">
							<span>Food-Search</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Blog Section Begin -->
	<section class="blog spad" style="padding-bottom: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7">
					<div class="blog__sidebar__search">
						<form name="search-form" action="/food?ing=" method="get">
							<input name="ing" type="text" placeholder="검색어 입력">
							<button type="submit" value="검색">
								<span class="icon_search"></span>
							</button>
						</form>
					</div>
					<div class="blog__sidebar__item">
						<section class="shoping-cart spad" style="padding-top: 5px;">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="section-title product__discount__title"
											style="margin-bottom: 0;">
											<h4>검색결과</h4>
											<p></p>
										</div>
										<div th:each="food:${fListOne}" class="product__details__text"
											style="margin-left: 200px; margin-right: -200px;">
											<div class="section-title related__product__title"
												style="margin-bottom: 10px;">
												<h2 th:text="${food.ing}"></h2>
											</div>
											<ul style="margin-top: 30px;">
												<li><b>단위</b> <span th:text="${food.amount}+${food.f0}"></span></li>
												<li><b>칼로리</b> <span th:text="${food.cal}+'kcal'"></span></li>
												<li><b>탄수화물</b> <span th:text="${food.carb}+'g'"></span></li>
												<li><b>단백질</b> <span th:text="${food.prot}+'g'"></span></li>
												<li><b>지방</b> <span th:text="${food.fat}+'g'"></span></li>
											</ul>
											</br>
											<hr>
											</br>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="blog__sidebar" style="padding-top: 0;">
						<div class="blog__sidebar__item">
							<h4>연관 검색어</h4>
							<div class="shoping__cart__table">
								<table id="foodTable">
									<thead>
										<tr>
											<td>음식명</td>
											<td></td>
											<td>칼로리</td>
											<td>단위</td>
										</tr>
									</thead>
									<tbody th:each="food:${fList}">
										<tr>
											<td th:text="${food.ing}" class="shoping__cart__price"></td>
											<td class="shoping__cart__price"></td>
											<td th:text="${food.cal}" class="shoping__cart__total"></td>
											<td th:text="${food.amount}" class="shoping__cart__total"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</br>
					<div class="blog__sidebar__item">
						<h4>인기 검색어</h4>
						<div class="blog__sidebar__item__tags">
							<a href="#">계란</a> <a href="#">바나나</a> <a href="#">닭가슴살</a> <a
								href="#">아메리카노</a> <a href="#">쌀</a> <a href="#">콜라</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Blog Section End -->

	<div th:replace="~{fragments/footer}"></div>

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		function getSearchList() {

			$.ajax({
				type : 'get',
				url : "/getSearchList",
				data : $("form[name=search-form]").serialize(),
				success : function(result) {
					//테이블 초기화
					$('col-lg-6 col-md-6').remove();
					if (result.length >= 1) {
						result.forEach(function(food) {
							sts = '<tr>'
							sts += "<td><a href='/foodContents?ing=" + food.ing	+ "'>" + food.ing + "</a></td>";
							sts += "<td></td>";
							sts += "<td>" + food.cal + "kcal" + "</td>";
							sts += "<td>" + food.amount + food.f0 + "</td>";
							sts += "<td>" + food.carb + "g" + "</td>";
							sts += "<td>" + food.prot + "g" + "</td>";
							sts += "<td>" + food.fat + "g" + "</td>";
							sts += "</tr>"
							$('#foodTable').append(sts);
						})
					}
				}
			})
		}
	</script>



</body>

</html>