<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
				 layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>foodContents</title>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="img/breadcrumb.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<a href="food">
								<h2>음식정보</h2>
							</a>
							<div class="breadcrumb__option">
								<span>Food-Information</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->
		<section class="blog spad" style="padding-bottom: 20px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-7">
						<div class="blog__sidebar__search">
							<form name="search-form" action="/food?ing=" method="get">
								<input name="ing" type="text" placeholder="검색어 입력">
								<button type="submit" value="검색">
									<span class="icon_search"></span>
								</button>
							</form>
						</div>
						<div class="blog__sidebar__item">
							<section class="shoping-cart spad" style="padding-top: 5px;">
								<div class="container">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="section-title product__discount__title"
												style="margin-bottom: 0;">
												<h4>검색결과</h4>
												<p></p>
											</div>
											<div th:each="food:${fListOne}"
												class="product__details__text"
												style="margin-left: 200px; margin-right: -200px;">
												<div class="section-title related__product__title"
													style="margin-bottom: 10px;">
													<h2 th:text="${food.ing}"></h2>
												</div>
												<ul style="margin-top: 30px;">
													<li><b>단위</b> <span
														th:text="${food.amount}+${food.f0}"></span></li>
													<li><b>칼로리</b> <span th:text="${food.cal}+'kcal'"></span></li>
													<li><b>탄수화물</b> <span th:text="${food.carb}+'g'"></span></li>
													<li><b>단백질</b> <span th:text="${food.prot}+'g'"></span></li>
													<li><b>지방</b> <span th:text="${food.fat}+'g'"></span></li>
												</ul>
												</br>
												<hr>
												</br>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="col-lg-4 col-md-5">
						<div class="blog__sidebar" style="padding-top: 0;">
							<div class="blog__sidebar__item">
								<h4>연관 검색어</h4>
								<div class="shoping__cart__table">
									<table id="foodTable">
										<thead>
											<tr>
												<td>음식명</td>
												<td></td>
												<td>칼로리</td>
												<td>단위</td>
											</tr>
										</thead>
										<tbody th:each="food:${fList}">
											<tr>
												<td class="shoping__cart__total" style="font-size: 14px;">
													<a th:href="@{/foodContents(ing=${food.ing})}"th:text="${food.ing}" ></a>
												</td>
												<td class="shoping__cart__price"></td>
												<td th:text="${food.cal}+kcal"+ class="shoping__cart__total"></td>
												<td th:text="${food.amount}+${food.f0}" class="shoping__cart__total"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</br>
						<div class="blog__sidebar__item">
							<h4>인기 검색어</h4>
							<div class="blog__sidebar__item__tags">
								<a th:each="food:${pList}" th:text="${food.ing}" th:href="@{/foodContents(ing=${food.ing})}"></a> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
	<!-- Blog Section End -->

	<!-- <script>
		function getSearchList() {

			$.ajax({
				type : 'get',
				url : "/getSearchList",
				data : $("form[name=search-form]").serialize(),
				success : function(result) {
					//테이블 초기화
					$('col-lg-6 col-md-6').remove();
					if (result.length >= 1) {
						result.forEach(function(food) {
							sts = '<tr>'
							sts += "<td><a href='/foodContents?ing=" + food.ing
									+ "'>" + food.ing + "</a></td>";
							sts += "<td></td>";
							sts += "<td>" + food.cal + "kcal" + "</td>";
							sts += "<td>" + food.amount + food.f0 + "</td>";
							sts += "<td>" + food.carb + "g" + "</td>";
							sts += "<td>" + food.prot + "g" + "</td>";
							sts += "<td>" + food.fat + "g" + "</td>";
							sts += "</tr>"
							$('#foodTable').append(sts);
						})
					}
				}
			})
		}
	</script> -->



</body>

</html>