<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<script>
$(document).ready(function() {
		// 1. 모달창 히든 불러오기
		$('#searchBtn').click(function() {
			$('#background_modal').show();
		});
		// 2. 모달창 닫기 버튼
		$('.close').on('click', function() {
			$('#background_modal').hide();
		});
		// 3. 모달창 위도우 클릭 시 닫기
		$(window).on('click', function() {
			if (event.target == $('#background_modal').get(0)) {
	            $('#background_modal').hide();
	         }
		});
	});



function search_check(num) {
		if (num == '1') {
			document.getElementById("searchP").style.display = "none";
			document.getElementById("searchI").style.display = "";	
		} else {
			document.getElementById("searchI").style.display = "none";
			document.getElementById("searchP").style.display = "";
		}
	}
	
	var idV = "";
	// 값 받고 출력하는 ajax
	var idSearch_click = function(){
		var unameVal = $('#uname').val()
		var nickVal = $('#nick').val()
		var birthVal = $('#birth').val()
		$.ajax({
			type:"POST",
			url:"findId",
			data:{uname:unameVal,nick:nickVal,birth:birthVal}		
		}).done(function(data){
				if(data == 0){
					$('#mid_value').text("입력한 회원 정보를 확인해주세요!");	
				} else {
					$('#mid_value').text(data);
					// 아이디값 별도로 저장
					idV = data;
				}		
		})					
	}
	var pwSearch_click = function(){
		var mid =$('#midforfindpw').val()
		$.ajax({
			type:"post",
			url:"findPw",
			data:{mid:mid}
		}).done(function(){
			alert("임시 비밀번호가 이메일 발송 되었습니다")
		})
	}	
		
</script>

<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text" >
                    <h2 style="font-family: 'Jua' font-weight: 300;">회원정보찾기</h2>
                    <div class="breadcrumb__option">
                         <span style="font-family: 'Jua';">이메일 혹은 비밀번호를 찾을 수 있습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="full">
		<div class="container">
			<div class="area_inputs wow fadeIn">
			
				<div class="text-black text-center" >
					<h3>아이디/비밀번호 찾기</h3>
					<p>인증된 이메일만 정보 찾기가 가능합니다</p>
				</div>
				
				<div style="margin-bottom: 10px;"
					class="custom-control custom-radio custom-control-inline">
					<input type="radio" class="custom-control-input" id="search_1" name="search_total" onclick="search_check(1)" checked>
					<label class="custom-control-label font-weight-bold text-black"	for="search_1">아이디 찾기</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" class="custom-control-input" id="search_2" name="search_total" onclick="search_check(2)">
					<label class="custom-control-label font-weight-bold text-black" for="search_2">비밀번호 찾기</label>
				</div>
				
				<div id="searchI">
					<div class="form-group">
						<label class="font-weight-bold text-black" for="uname">이름</label>
						<div>
							<input type="text" class="form-control" id="uname" name="uname" placeholder="ex) 홍길동">
						</div>
					</div>
					<div class="form-group">
						<label class="font-weight-bold text-black" for="nick">닉네임</label>
						<div>
							<input type="text" class="form-control" id="nick" name="nick" placeholder="ex) 멋쟁이">
						</div>
					</div>
					<div class="form-group">
						<label class="font-weight-bold text-black" for="birth">생년월일</label>
						<div>
							<input type="date" class="form-control" id="birth" name="unick" >
						</div>
					</div>
					<div class="form-group">
						<button id="searchBtn" type="button" onclick="idSearch_click()" class="btn btn-primary btn-block">확인</button>
					<a class="btn btn-danger btn-block"	href="${pageContext.request.contextPath}">취소</a>
					</div>
				</div>
				
				<div id="searchP" style="display: none;">
					
					<div class="form-group">
						<label class="font-weight-bold text-black" for="midforfindpw">이메일</label>
						<div>
							<input type="email" class="form-control" id="midforfindpw"	name="midforfindpw" placeholder="ex) Email@gmail.com">
						</div>
					</div>
					
					<div class="form-group">
						<button id="searchBtn2" type="button" onclick="pwSearch_click()" class="btn btn-primary btn-block">확인</button>
						<a class="btn btn-danger btn-block"	href="${pageContext.request.contextPath}">취소</a>
					</div>
				</div>
				
		</div>	
	</div>
</div>

<div id="background_modal" class="modal font-weight-bold text-white">
<div class="modal_body">
<div class="modal_title">
		<h4>
			<b>회원님의 이메일</b><span class="close">&times;</span>
		</h4><br>
</div>
	<div class="modal_content">
			<h2 id="mid_value"></h2>
			<br>
		<button type="button" id="pwSearch_btn" class="btn peach-gradient btn-rounded waves-effect">
		
	</div>
	</div>
</div>

</body>

</th:block>
</html>
