<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org"
				layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    
</head>

<body>
   
<th:block layout:fragment="content">


   
    <!--회원 목록 body-->
   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>로그인</h2>
                    <div class="breadcrumb__option">
                        
                        <span>자신의 정보를 확인 가능합니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- login Begin -->
			<section class = "login__form">
			<form method="post" action="/login">
			<div class="container">
			
			  <img src = "img/로고.PNG" class = "loginLogo">
			  <div class = "login__form__detail">
			  	<input type = "email" placeholder="이메일을 입력하세요">
			  	</div>
			  
			  <div class = "login__form__detail">
			  	<input type = "password" placeholder="비밀번호를 입력하세요">
			  </div>
			    
			    
			    <br>
			    <button value = "submit">로그인</button>
			    <ul>
			      <a href=""><li>아이디 찾기</li></a>
			      <a href=""><li>비밀번호 찾기</li></a>
			      <a href="registerIdForm1"><li>회원가입</li></a>
			    </ul>
			   
			  
			
			</form>
			  
			</section>


  </th:block>

</body>

</html>