<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
	  <!-- Google Font -->
</head>

<body>
  
   <th:block layout:fragment="content">
     <script type="text/javascript">
        $(document).ready(function(){
    
            $("#nextBtn").click(function(){    
                if($("#check_1").is(":checked") == false){
                    alert("모든 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                    return;
                }else if($("#check_2").is(":checked") == false){
                    alert("모든 약관에 동의 하셔야 다음 단계로 진행 가능합니다..");
                    return;
                }else{
                    $("#terms_form").submit();
                }
            });    
        });
    </script>
     
     
    <!--회원 목록 body-->
   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: 'Jua'; font-weight: 300;">회원 가입</h2>
                    <div class="breadcrumb__option">
                        <span style="font-family: 'Jua';">회원 가입을 진행합니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

<!-- 회원 정보 Begin -->

<section class="product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
            <!-- menu bar Begin -->
              <div class="sidebar">
                  <div class="sidebar__item" style="background-color:#f5f5f5; height :600px; font-family: 'Jua';">
                      <h4 style="font-family: 'Jua';">회원 가입</h4>
                      <ul>
                          <li style="margin : 20px 0 "><a href=#>step 1. 정보 활용 동의</a></li>
                          <li style="margin : 20px 0 "><a href=#>step 2. 회원 가입</a></li>
                          <li style="margin : 20px 0 "><a href=#>step 3. 가입 완료</a></li>
                      </ul>
                  </div>
              </div>
              <!-- menu bar end -->
          </div>
           <div class="col-lg-9 col-md-7" style="font-family: 'Jua';">
             <div class = "register_Agreement">
              <h3 style="font-family: 'Jua';">step 1. 정보 활용 동의</h3>
              <form id="terms_form" action="registerIdForm2">
              <div>
                <p style="font-family: Jua; margin-top: 70px;">개인 정보 활용에 대한 동의</p>
                <textarea  readonly style = "background-color: #f5f5f5; width : 900px; height : 200px; resize: none;">개인 정보 활용에 대한 법적 내용이 들어갑니다.</textarea>
              </div>
					<p style="font-family: Jua;">
               			 <input type="checkbox" id="check_1"  name="" /> 위의 약관에 동의 합니다.<br />
            		</p>   				
              <div>
                <p style="font-family: Jua; margin-top: 70px;">이용 약관에 대한 동의</p>
                <textarea readonly style = "background-color: #f5f5f5; width : 900px; height : 200px; resize: none;">이용 약관에 대한 법적 내용이 들어갑니다.</textarea>
              </div>
              		<p style="font-family: Jua;">
               			 <input type="checkbox" id="check_2"  name="" /> 위의 약관에 동의 합니다.<br />
            		</p>
             </div>
             <input id ="nextBtn" type = "button" value = "다음" style = "margin: 30px 0 0 820px; width : 80px;">
          </div>
          </form>
      </div>
  </div>
</section>


</th:block>


    
</body>

</html>