<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua:wght@200;300;400;600;900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>  



     <div th:replace="~{fragments/header}"></div>
     
    <!--회원 목록 body-->
   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: 'Jua'; font-weight: 300;">회원 가입</h2>
                    <div class="breadcrumb__option">
                        <span style="font-family: 'Jua';">회원 가입을 진행합니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
            <!-- menu bar Begin -->
              <div class="sidebar">
                  <div class="sidebar__item" style="background-color:#f5f5f5; height :600px; font-family: 'Jua';">
                      <h4 style="font-family: 'Jua';">회원 가입</h4>
                      <ul>
                          <li style="margin : 20px 0 "><a href="registerIdForm1.html">step 1. 정보 활용 동의</a></li>
                          <li style="margin : 20px 0 "><a href="registerFrom2.html">step 2. 회원 가입</a></li>
                          <li style="margin : 20px 0 "><a href=#>step 3. 가입 완료</a></li>
                      </ul>
                  </div>
              </div>
              <!-- menu bar end -->
          </div>
           <div class="col-lg-9 col-md-7" style="font-family: 'Jua';">
             <div class = "register_Agreement">
              <h3 style="font-family: 'Jua';">step 1. 정보 활용 동의</h3>
              <div>
                <p style="font-family: Jua; margin-top: 70px;">개인 정보 활용에 대한 동의</p>
                <textarea  readonly style = "background-color: #f5f5f5; width : 900px; height : 200px; resize: none;">개인 정보 활용에 대한 법적 내용이 들어갑니다.</textarea>
              </div>

              <div>
                <p style="font-family: Jua; margin-top: 70px;">이용 약관에 대한 동의</p>
                <textarea readonly style = "background-color: #f5f5f5; width : 900px; height : 200px; resize: none;">이용 약관에 대한 법적 내용이 들어갑니다.</textarea>
              </div>
             </div>
             <input onclick="location.href='registerIdForm2'" type = "button" value = "다음" style = "margin: 30px 0 0 820px; width : 80px;">
          </div>
      </div>
  </div>
</section>


<!-- Product Section End -->

    <!-- Footer Section Begin -->
    <div th:replace="~{fragments/footer}"></div>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>