<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>  
<th:block layout:fragment="content">


   
    <!--회원 목록 body-->
   <!-- Breadcrumb Section Begin -->
   <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="font-family: 'Jua'; font-weight: 300;">회원 가입</h2>
                    <div class="breadcrumb__option">
                        <span style="font-family: 'Jua';">회원 가입을 진행합니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 정보 Begin -->

<section class="product spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
            <!-- menu bar Begin -->
              <div class="sidebar">
                <div class="sidebar__item" style="background-color:#f5f5f5; height :600px; font-family: 'Jua';">
                    <h4 style="font-family: 'Jua';">회원 가입</h4>
                    <ul>
                        <li style="margin : 20px 0 "><a href="registerIdForm1.html">step 1. 정보 활용 동의</a></li>
                        <li style="margin : 20px 0 "><a href="registerFrom2.html">step 2. 회원 가입</a></li>
                        <li style="margin : 20px 0 "><a href=#>step 3. 가입 완료</a></li>
                    </ul>
                </div>
              </div>
              <!-- menu bar end -->
          </div>
        <div class="col-lg-9 col-md-7">
          <h3 style="font-family: 'Jua';">step 3. 가입 완료</h3>
          <div style = "width: 860px; height: 300px; margin-top: 60px; background-color: #f5f5f5;">
            <h4>가입이 완료 되었습니다! 이제 각종 혜택들을 누려보세요!</h4>
            <a href="/main">메인으로</a>
          </div>
        </div>
    </div>
</section>


</th:block>
</body>

</html>